<div id="file-ops-content" class="row no-gutters">
     
        <div id="thumbnails-container" class="col-5 no-gutters h-100">
            <div class="card-header">
                <div class="card-title">Thumbnails</div>
                <a id="fileUpload" role="button" title="Upload Files...">
                    <i class="fa fa-border fa-upload"></i>
                </a>
            </div>

            <div id="thumbs-list" class="card-body">
                <ul id="thumbnails" data-bind='template: {name:"thumbnails-template", foreach: fileInfo, afterAdd: thumbAdded, afterRender: thumbRendered}'></ul>
            </div>
            <div id="thumbsFooter" class="card-footer"></div>
        </div>

        <div id="main-content-area" class="col-7 no-gutters">
            <div class="main-document content-area">
                <embed id="doc-embedded" data-bind="attr: { src : contentViewUrl(), type: 'application/pdf' }" style="overflow: auto; width: 100%; height: 100%;" />
            </div>

            <div class="main-video content-area">
                <video id="video-player" class="video-js" controls autoplay preload="auto" width="800" height="600"></video>
            </div>

            <div class="main-image content-area">
                <img data-bind="attr: { src : contentViewUrl(), type: 'application/pdf' }" />
            </div>

            <div class="content-info content-info-title">
                <span data-bind="text: friendlyname()"></span>
            </div>

            <div class="content-info content-info-descr" data-bind="text: description"></div>

            <a class="left carousel-control" id="content-left" href="#" role="button">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" id="content-right" href="#" role="button">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            <div id="content-loading">
                <i class="fa fa-spinner" style="font-size:48px;color:red"></i>
            </div>
        </div>

</div>
<script>
    require(['dws/fileops-client','dws/fileops-content'], function (client, content) {
        $(function () {
            client.init();
            content.init();
        });
    });


</script>