<div class="paper-wrapper">
    @*<span class="text-info text-muted float-right">September 4th, 2017</span>*@
    <div class="paper">
        <h5 class="text-center">Working Title</h5>
        <blockquote class="blockquote">
            This is a note about the notes.
        </blockquote>
        <div class="h5 paper-text"> This will be the paper body!</div>
    </div>
</div>
