<div class="paper-wrapper">
    <div class="paper">
        
        <div id="parable">
            <p class="h3 text-center">The Good Technology</p>
            <p>Two junior developers at Fishbowl Solutions were sitting in the breakroom celebrating their recent insight. 
                The revelation of exactly what &ldquo;Technology&rdquo; is and that they were actually in it!</p>
            <p>The concept was bewildering, but inspiring to the self-assured young developers.</p>
            <p>Suddenly they overheard voices from the next room, where the senior development team was energetically discussing something.</p> 
            <p>The two young developers strained to listen in, but all they could pick up repeatedly was something about the &ldquo;Good Technology&rdquo;!?</p>
            <p>
                After their recent realizations, the concept of &ldquo;Good Technology&rdquo; confused them! 
                How was this different from the &ldquo;Technology&rdquo; they recently found themselves in?
            </p>
            <p class="text-center">Where is it?  What is it?</p>
            <p>They dashed through all 68 floors of Tech Towers looking for the &ldquo;Good Technology&rdquo;. They wasted so much time looking for it they failed to accomplish anything. </p> 
            <p>Exhausted and discouraged they dragged themselves back to Fishbowl Solutions where they ran into the meeting just as it was breaking up.</p>
            <p>&ldquo;What happened to you two?&rdquo; asked the CSADO (Chief Senior Architect Developer Officer). &nbsp;</p>
            <p>&ldquo;We heard you talking about the &lsquo;Good Technology&rsquo; and have been trying to find it all day&rdquo;, the young developers answered exasperated.</p>
            <p>The CSAD Officer just laughed and shook his head replying, &ldquo;The &lsquo;Good Technology&rsquo; is right here and you are already in it!&rdquo;</p>
        </div>

        <p>
            Inspired by <a href="https://www.newyorker.com/books/page-turner/this-is-water" target="_blank" rel="noopener">David Foster Wallace&rsquo;s &ldquo;This Is Water&rdquo;</a> 
            and various versions and retellings.
        </p>
        <p class="h4 font-italic">Reflections</p>
        <p>Ponder...&nbsp;<a href="https://en.wikipedia.org/wiki/Comparison_of_web_frameworks" target="_blank" rel="noopener">Comparison of web frameworks</a>. According to&nbsp;<a href="https://www.upwork.com/hiring/development/how-scripting-languages-work/">Upwork</a>, besides HTML5, CSS and Javascript, these are the "most widely used scripting languages and front end frameworks":</p>
        <ul>
            <li><a href="https://www.upwork.com/hiring/development/angularjs-javascript-framework/">AngularJS</a>: An incredibly robust JavaScript framework for data-heavy sites</li>
            <li><a href="https://www.upwork.com/hiring/development/jquery-javascript-library/">JQuery, jQuery Mobile</a>: A fast, small, JS object library that streamlines how JavaScript behaves across different browsers</li>
            <li><a href="https://www.upwork.com/hiring/development/what-is-node-js/">Node.js</a>: A server-side platform&nbsp;that uses JavaScript, and is changing the way real-time applications can communicate with the server for faster response times and a more seamless user experience. It works with another JavaScript framework,&nbsp;<a href="https://www.upwork.com/hiring/development/express-js-a-server-side-javascript-framework/">Express.js</a>, to build server-side Web&nbsp;applications.</li>
            <li><a href="https://www.upwork.com/hiring/development/bootstrap-3-front-end-framework-responsive-mobile-first-sites/">Bootstrap</a>: A mobile-first framework that uses HTML, CSS, and JavaScript to facilitate rapid responsive app development</li>
            <li>React, for user interface design</li>
            <li><a href="https://www.upwork.com/hiring/development/express-js-a-server-side-javascript-framework/">Express.js</a>, Backbone.js, Ember.js, MeteorJS, <em><strong>and more</strong></em></li>
        </ul>
        <ul>
            <li>TypeScript: A compile-to-JavaScript language that is a superset of JavaScript, created by Microsoft</li>
            <li><a href="https://www.upwork.com/hiring/development/how-ajax-works/">AJAX (JavaScript + XML)</a>&mdash;a technology that allows specific parts of a site to be updated without a full-page refresh by asynchronously connecting to the database and pulling&nbsp;<a href="https://www.upwork.com/hiring/development/what-is-json/">JSON</a>&ndash; or XML-based chunks of data.</li>
            <li>VBScript &amp; JScript are Microsoft&rsquo;s front-end scripts that run on&nbsp;<a href="https://www.upwork.com/hiring/development/asp-net-framework/">the ASP.NET framework</a>. JScript is Microsoft&rsquo;s reverse-engineered version of JavaScript.</li>
            <li>ActionScript, which creates animated interactive web applications for Adobe Flash Play</li>
            <li>Java (as &ldquo;applets&rdquo;) snippets of back-end code that run independently with a run-time environment in the browser</li>
        </ul>
        <p>This list really only scratches the surface. I would also add <a href="http://knockoutjs.com/index.html"> Knockout.js</a>, although considered by some not to be a "complete" Framework. Whatever that means... </p> 
        <p>Review factorial math and consider if a senior HTML/CSS/Javascript developer should be overlooked because they don't "know"&nbsp; Anjular or have no experience with Ember.js? Similar to the ASP.NET MVC/EF/etc. position that requires "Telerik" experience...</p>
    </div>
</div>
