<p>The SandPit is a place for you to play with live on-line demos! So grab your pail and shovel, bring your Tonka trucks, dig-in and get your hands dirty! See what you can break.</p>
<p class="exclamation">Just don't kick sand at the server! You wouldn't want to wake the admin.</p>
<p>The DWS SandPit features a number of approaches to client-side framework design and functionality. It also illustrates the implementation of Default WebSite.net's VPS Server functionality and capabilities. Each demo's description highlights the implemented technologies.</p>
<p>These are live demos! If something breaks, try to refresh/reload. If that does not work, well they are demos....</p>
<p class="official">You must read and agree to both the <a href="conduct.html" target="_blank" rel="noopener">Code of Conduct policy</a> and <a href="term-conditions.html" target="_blank" rel="noopener">Terms of Use Agreement</a> before proceeding with any SandPit demos. By continuing with any sandbox live demos you assert that you have read and accept both agreement and policy. Thanks - management.</p>
<p>Actually, nobody but you will ever see anything you do, but you.&nbsp;The nature of all SandPit server interactions consist of "User Session" transactions. You are interacting with a number of live services, including</p>
<ul>
    <li>Microsoft 2016 Sql Server data and client services,</li>
    <li>Esri Enterpris ArcGis Server Rest services,</li>
    <li>Microsoft .Net Core MVC and Web API services</li>
</ul>
<p>The Server never permantly saves anything. Everything Rolls-Back on application exit.</p>
<p>Don't believe? Start with Comments Manager.&nbsp;Have fun!!</p>
<p>Comments coming soon!!! But still feel free to contact me. See Contacts...</p>