<div id="dws-notebook-header" class="card-header">
    <div class="card-title">Note Book</div>   
    <a id="notebook-info" class="btn btn-small" data-toggle="popover" role="button"><i class="fa fa-info-circle"></i></a>
</div>
<div id="notes-list">
    <div class="list-group">
        <div class="dws-note card" data-target="#main-target-area" data-target-controller="Home" data-target-action="GetNote" data-target-id="DefaultWebSite">
            <a href="https://github.com/SwartHack/defaultwebsite-core"><i class="fa fa-github-square"></i></a>
            <div class="card-title">A Default Web Site</div>
            <div class="card-subtitle text-muted">Pattern and Practices...</div>
        </div>
        <div class="dws-note card" data-target="#main-target-area" data-target-controller="Home" data-target-action="GetNote" data-target-id="FrameWorks">
            <div class="card-title">Frameworks?!?...Schrameworks!!! An IT Parable...</div>
            <div class="card-subtitle">Why do we need so many and what actually is one???...</div>
        </div>
        <div class="dws-note card" data-target="#main-target-area" data-target-controller="Home" data-target-action="GetNote" data-target-id="WinForms">
            <a href="https:github.com/SwartHack/A-Tool"><i class="fa fa-github-square"></i></a>
            <div class="card-title">Do Windows&trade; Forms still matter?!? or <br /> What the LINQ?</div>
            <div class="card-subtitle">A different view of Windows&trade; Services using System.ServiceProcess.ServiceControl and LINQ to Objects</div>
        </div>
        <div class="dws-note card" data-target="#main-target-area" data-target-controller="Home" data-target-action="GetNote" data-target-id="AspNet">
            <div class="card-title adaals-brand">A Document Archive &amp; Library Server</div>
            <div class="card-subtitle"> A Scalable approach using <em>ASP.NET 4.6 & MVC 5</em>...</div>
        </div>
        <div class="dws-note card" data-target="#main-target-area" data-target-controller="Home" data-target-action="GetNote" data-target-id="NetCore">
            <div class="card-title adaals-brand">A Document Archive &amp; Library Server</div>
            <div class="card-subtitle">Migrating to to ASP.NET Core!!!...</div>
        </div>
        <div class="dws-note card" data-target="#main-target-area" data-target-controller="Home" data-target-action="GetNote" data-target-id="Empty">
            <div class="card-title">Empty</div>
            <div class="card-subtitle">Empty Template</div>
        </div>
    </div>
</div>


