
<head>
    <style type="text/css">

a:link
	{color:blue;
	text-decoration:underline;
	text-underline:single;
        }
        .auto-style1 {
            text-align: center;
        }
        .auto-style2 {
            font-size: medium;
        }
        .auto-style3 {
            text-align: center;
            line-height: normal;
            font-family: "Times New Roman", serif;
            font-size: medium;
            margin-right: -4.5pt;
        }
        .auto-style4 {
            font-size: x-small;
        }
    </style>
</head>

<div class="well well-lg about">

    <h1>
        <b><span style="font-size:x-large; font-family:&quot;Times New Roman&quot;,serif;mso-fareast-font-family:
        &quot;Times New Roman&quot;">DefaultWeb</span><span style="font-family:&quot;Times New Roman&quot;,serif;mso-fareast-font-family:
        &quot;Times New Roman&quot;" class="auto-style4">.net</span><span style="font-size:x-large; font-family:&quot;Times New Roman&quot;,serif;mso-fareast-font-family:
        &quot;Times New Roman&quot;"> is...</span></b>
    </h1>
    <p align="center" style="mso-margin-top-alt:auto;margin-right:
        -4.5pt;mso-margin-bottom-alt:auto;text-align:center;line-height:normal">
            <b><span style="font-size:15.0pt;font-family:&quot;Times New Roman&quot;,serif;mso-fareast-font-family:
        &quot;Times New Roman&quot;">&nbsp; Designed and developed using <i>Microsoft™ Visual Studio Community 2017 </i></span></b><br />
            <b><span style="font-size:15.0pt;font-family:&quot;Times New Roman&quot;,serif;mso-fareast-font-family:
        &quot;Times New Roman&quot;">Suported by <i>Visual Studio Team Services ALM and Git repositories</i></span></b><br/>
            <b><span style="font-size:15.0pt;font-family:&quot;Times New Roman&quot;,serif;mso-fareast-font-family:
        &quot;Times New Roman&quot;">Powered by Microsoft™ C#, ASP.NET 4.6 and MVC 5 Web development technologies <o:p><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;,serif;mso-fareast-font-family:
        &quot;Times New Roman&quot;"><br/>as well as other applicable server and client development technologies</span></o:p></span></b>
    </p>
    
    <p class="auto-style1" style="mso-margin-top-alt:auto;margin-right:-4.5pt;
        mso-margin-bottom-alt:auto;line-height:normal">
            <span style="font-family:&quot;Times New Roman&quot;,serif;mso-fareast-font-family:
        &quot;Times New Roman&quot;" class="auto-style2"><em>Physically powered by a </em><a href="godaddy.com"><b>GoDaddy.com™</b></a> <em>self-managed&nbsp;</em> </span>
            <i style="mso-bidi-font-style:normal"><em>
            <span style="font-family:&quot;Times New Roman&quot;,serif;mso-fareast-font-family:
        &quot;Times New Roman&quot;" class="auto-style2">Virtual Private Server (VPS) environment</span><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;,serif;mso-fareast-font-family:
        &quot;Times New Roman&quot;"><br /> </span>
            <span style="font-family:&quot;Times New Roman&quot;,serif;mso-fareast-font-family:
        &quot;Times New Roman&quot;" class="auto-style2"><strong>Running Microsoft Windows 2012™ R2 - IIS 8™ -SSL- SQL Data- WebMail - BlogEngine.Net</strong></span></em></i><em><span style="font-family:&quot;Times New Roman&quot;,serif;mso-fareast-font-family:
        &quot;Times New Roman&quot;"><strong><br class="auto-style2" /></strong> </span>
            <span style="font-family:&quot;Times New Roman&quot;,serif;mso-fareast-font-family:
        &quot;Times New Roman&quot;" class="auto-style2">Operating on an Intel(r) Xeon(r) E5-2620 v3 2.4GHz CPU platform.<br /> <strong>3 Gigabytes (~3,221,225,472 bytes) available memory <br /> </strong>90 GB (~96,636,764,160) bytes disk space </span></em>
    </p>
    <p class="auto-style3" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto; mso-fareast-font-family: &quot;Times New Roman&quot;;">
        <em><strong>Configured with Azure™ Web Deploy services, required IIS configuration and ASP.NET/MVC Web Platform Components.<br /> Including but not limited to:IIS: ASP.NET, IIS:ASP.NET 3.5, IIS:ASP.NET 4.5, .NET Extensibility <br />IIS:Websockets ProtocolWeb Deployment Tool , MS SqlServer Compact, MySQL Windows, Azure(tm) Powershell, etc...</strong></em>
    </p>
</div>