<div id="about" class="card">

    <div id="software" >
        <h1 class="text-primary text-center strong mb-4">DefaultWebSite.net Core is&hellip;</h1>

        <div id="software-info">
            <strong><em>&hellip;developed primarily</em></strong> with Microsoft Visual Studio Community 2017&trade; 
            utilizing C#, ASP.NET/MVC 5 &amp; ASP.NET Core&trade; Web development technology.
            Including MVC and Entity Framework Core, Microsoft Sql Server 2017&trade; and other applicable server and 
            client development technologies. <a class="nav-link" href="" data-target="#main-target-area" data-target-controller="Home" data-target-action="GetView" data-target-id="Ack">See Acknowledgements for details&hellip;</a>
        </div>
        <div>
            <i id="server-icon" class="fa fa-2x fa-border fa-server"></i><em> Powered by </em>
            <a class="link" href="https://godaddy.com"><b>GoDaddy.com™</b></a>
        </div>
        <div id="software-list" class="disclaimer">Virtual Private Server (VPS) environment &mdash; 
            Microsoft Windows 2012™ R2 &mdash; SQL Server 2017&trade; &mdash; IIS 8.5™ &mdash; SSL &mdash; 
            Kestrel  &mdash; ASP.NET 4.5/MVC Hosting &mdash; ASP.NET Core Hosting &mdash; WebMail&hellip; 
        </div>
    </div>

    <div id="hardware">
        <div class="h5"><i id="hardware-icon" class="fa fa-2x fa-rocket"></i> Operating on</div>
        <div id="hardware-list" class="exclamation">
            <div class="h5"><i>Intel(r) Xeon(r) E5-2620 v3 2.4GHz CPU</i></div>
            <div><i class="fa fa-microchip"></i> 3 Gigabytes  (~3,221,225,472 bytes)!!</div>
            <div><i class="fa fa-database"></i> 90 Gigabytes (~96,636,764,160 bytes)!!!</div>
        </div>
    </div>

    <div  id="stats" class="card card-danger">
        <div class="card-title text-center" style="color:crimson">LIVE Interactive Server Stats coming soon!!!</div>
        <div class="card">

        </div>
    </div>

</div>