<div class="about h-100">
    <h1 class="text-primary text-center strong mb-4">DefaultWebSite.net Core is...</h1>
    <ul id="about-content" class="list-group">
        
        <li class="list-group-item-text"><span class="h4 text-center"><em>Microsoft™ Visual Studio Community 2017</em></span></li>
        <li class="list-group-item">
            <blockquote class="blockquote"><span>C# &amp; ASP.NET Core Web development technologies. Including other applicable server and client development technologies. <a class="h6" href="/Home/GetView?ack">See Acknowledgements for details&hellip;</a></span></blockquote>
        </li>

        <li class="list-group-item-text h4"><i class="fa fa-border fa-server"></i><em> Powered by </em><a class="link" href="https://godaddy.com"><b>GoDaddy.com™</b></a></li>
        <li class="list-group-item-text mb-4 mt-1 mr-4 ml-4" style="border:.25rem inset white;padding:.25rem"><span class="mx-auto">Virtual Private Server (VPS) environment &mdash; Microsoft Windows 2012™ R2 &mdash; IIS 8™ &mdash; .NET Core Kestrel.. &mdash; SSL &mdash; WebMail </span></li>
        
        <li class="list-group-item-text"><span class="h5"><i class="fa fa-2x fa-rocket"></i> Operating on</span> </li>
        <li class="list-group-item">
            <blockquote class="blockquote">
                <dl>
                    <dt class="h5"><i>Intel(r) Xeon(r) E5-2620 v3 2.4GHz CPU</i></dt>
                    <dt><i class="fa fa-microchip"></i> 3 Gigabytes  (~3,221,225,472 bytes)!!</dt>
                    <dt><i class="fa fa-database"></i> 90 Gigabytes (~96,636,764,160 bytes)!!!</dt>
                </dl>
            </blockquote>
        </li>
    </ul>
</div>