<div class="ack card">
    <div class="card-block">
        <h1 class="text-center">Acknowledgements</h1>
        <p>
            <lead>First and foremost &mdash;</lead> A “Big Thanks and Props” to the contributors of &quot;The Open Source” movement.
            It’s been a long journey that has changed the face of software development forever!
        </p>
        <p>
            <lead>To Bill Gates! Yes!! &mdash;</lead> And whomever at MS that is actually calling the shots for Visual Studio
            development technology and direction.
        </p>
        <p>
            And thanks to <a href="mailto:ajax@aspphotography.net">Ivan Loire</a>,whose gallery template,
            <a href="http://www.aspphotogallery.net/">http://www.aspphotogallery.net</a>, inspired me to digitize
            my family documents/history .etc and digitally archive them on-line. Which also, coincidently,
            got me into the latest ASP.NET & MVC ehich eventually led us here to ASP.NET Core!
        </p>

        <ul>
            <li class="list-group-item list-group-item-heading mb-1">
                <p>
                    All of the following Microsoft™ developed packages are currently being used either are default packages defined by the <strong><em>ASP.NET Core Web template</em></strong> or
                    additional packages downloaded/installed with the NuGet Package Manager. <strong><em>Many, if not most, are opensource!!!</em></strong>
                </p>
            </li>
            <li class="list-group-item-text list-group-item-info mb-2">
                <p>
                    A big difference conceptually between ASP.NET Core and ASP.NET & MVC is that MVC is no longer promoted
                    as a primary technology but offered as a package, just like all the others!
                </p>
            </li>
            <li>Microsoft.AspNetCore</li>
            <li>Microsoft.AspNetCore.Hosting</li>
            <li>Microsoft.AspNetCore.Http.Extensions</li>
            <li>Microsoft.AspNetCore.Http.Features</li>
            <li>Microsoft.AspNetCore.Mvc</li>
            <li>Microsoft.AspNetCore.Mvc.Razor.Host</li>
            <li>Microsoft.AspNetCore.Server.IISIntegration</li>
            <li>Microsoft.AspNetCore.Server.Kestrel</li>
            <li>Microsoft.AspNetCore.Routing.Abstractions</li>
            <li>Microsoft.AspNetCore.StaticFiles</li>
            <li>Microsoft.AspNetCore.WebUtilities</li>
            <li>Newtonsoft.Json</li>
            <li>Microsoft.AspNetCore.JsonPatch</li>
            <li>AspNetCore.Mvc.Bootstrap.TagHelpers</li>
            <li>Microsoft.AspNetCore.Owin</li>
            <li>Microsoft.AspNetCore.Authentication.OAuth</li>
            <li>Microsoft.AspNetCore.Authentication.OpenIdConnect</li>
            <li>Microsoft.AspNetCore.Identity</li>
            <li>Microsoft.AspNetCore.Identity.EntityFrameworkCore</li>
            <li>Microsoft.AspNetCore.Authentication.Cookies</li>
            <li>Microsoft.AspNetCore.Authentication.Facebook</li>
            <li>Microsoft.AspNetCore.Authentication.Google</li>
            <li>Microsoft.AspNetCore.Authentication.MicrosoftAccount</li>
            <li>Microsoft.AspNetCore.Authentication.Twitter</li>
            <li>Microsoft.AspNetCore.Diagnostics</li>
            <li>Microsoft.AspNetCore.Diagnostics.Elm</li>
            <li>Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore</li>
            <li>Microsoft.EntityFrameworkCore.Design</li>
            <li>Microsoft.EntityFrameworkCore.SqlServer</li>
            <li>Microsoft.EntityFrameworkCore.SqlServer.Design</li>
            <li>Microsoft.EntityFrameworkCore.Tools</li>
            <li>Microsoft.EntityFrameworkCore.Tools.DotNet</li>
            <li>Microsoft.Extensions.SecretManager.Tools</li>
            <li>Microsoft.Extensions.Configuration.Json</li>
            <li>Microsoft.Extensions.Configuration.UserSecrets</li>
            <li>Microsoft.Extensions.Logging.Debug</li>
            <li>Microsoft.ApplicationInsights.AspNetCore</li>
            <li>Microsoft.VisualStudio.Web.CodeGeneration.Tools</li>
            <li>Microsoft.VisualStudio.Web.BrowserLink</li>
        </ul>

        <ul>
            <li class="list-group-item list-group-item-heading">To these client-side development opensource packages, their authors and contributors</li>
            <li>bootstrap: v4.0.0-alpha.6 -<a href="https://github.com/twbs/bootstrap">https://github.com/twbs/bootstrap</a></li>
            <li>Font-Awesome<a href="https://github.com/FortAwesome/Font-Awesome">https://github.com/FortAwesome/Font-Awesome</a></li>
            <li>JQuery <a href="https://jquery.com/">https://jquery.com/</a></li>
            <li>JQuery-validation <a href="https://github.com/jquery-validation/jquery-validation">https://github.com/jquery-validation/jquery-validation</a></li>
            <li>JQuery-validation-unobtrusive</li>
            <li>JQuery-ui <a href="https://github.com/components/jqueryui">https://github.com/components/jqueryui</a></li>
            <li>Jquery-mobile <a href="https://github.com/jquery/jquery-mobile">https://github.com/jquery/jquery-mobile</a></li>
            <li>Jquery-tmpl</li>
            <li>almond: 0.3.3</li>
            <li>Knockout <a href="https://github.com/knockout/knockout">https://github.com/knockout/knockout</a></li>
            <li>Node Package Manager <a></a></li>
            <li>grunt <a href="https://github.com/gruntjs/grunt">https://github.com/gruntjs/grunt</a></li>
        </ul>
    </div>
    
</div>