<div id="ack" class="card">
   
    <h1 class="text-center">Acknowledgements</h1>
    <p>
        <lead>First and foremost &mdash;</lead> A “Big Thanks and Props” to the contributors of &quot;The Open Source” movement.
        It’s been a long journey that has changed the face of software development forever!
    </p>
    <p>
        <lead>To Bill Gates! Yes!! &mdash;</lead> And whomever at MS that is actually calling the shots for Visual Studio
        development technology and direction.
    </p>
    <p>
        And thanks to <a href="mailto:ajax@aspphotography.net">Ivan Loire</a>, whose gallery template,
        <a href="http://www.aspphotogallery.net/">http://www.aspphotogallery.net</a>, inspired me to digitize
        my family documents/history .etc and digitally archive them on-line. Which also, coincidently,
        got me into the latest ASP.NET & MVC which eventually led us here to ASP.NET Core!
    </p>
    <p>
        All of the following Microsoft™ developed packages are currently being used either are default packages defined by the <strong><em>ASP.NET Core Web template</em></strong> or
        additional packages downloaded/installed with the NuGet Package Manager. <strong><em>Many, if not most, are opensource!!!</em></strong>
    </p>
    <ul class="ml-4">
        
        <li><a href="https://docs.microsoft.com/en-us/aspnet/core/fundamentals/metapackage">Microsoft.AspNetCore.All </a></li>
        <li><a href="https://www.nuget.org/packages/Microsoft.NETCore.App">Microsoft.NETCore.App</a></li>
        <li><a href="https://github.com/dotnet/standard">NETStandard.Library</a></li>
        <li><a href="https://www.nuget.org/packages/Microsoft.EntityFrameworkCore.Design/">Microsoft.EntityFrameworkCore.Design</a></li>
        <li><a href="https://www.nuget.org/packages/Microsoft.EntityFrameworkCore.Tools/">Microsoft.EntityFrameworkCore.Tools</a></li>
        <li><a href="https://www.nuget.org/packages/Microsoft.EntityFrameworkCore.SqlServer/">Microsoft.EntityFrameworkCore.SqlServer</a></li>
        <li><a href="https://www.nuget.org/packages/Newtonsoft.Json/">Newtonsoft.Json</a></li>
    </ul>
    <p>
        To these client-side development opensource packages,
        their authors and contributors. This list only includes the packages directly referenced by the project.
        It does not include the 100's more that are installed as their dependencies.
    </p>
    <ul class="ml-4">
        <li><a href="https://github.com/twbs/bootstrap">Bootstrap: v4.0.0-beta.3</a></li>
        <li><a href="https://github.com/HubSpot/tether">Tether.js</a></li>
        <li><a href="https://github.com/FortAwesome/Font-Awesome">Font-Awesome</a></li>
        <li><a href="https://jquery.com/">JQuery </a></li>
        <li><a href="https://github.com/jquery-validation/jquery-validation">JQuery-validation </a></li>
        <li><a href="">JQuery-validation-unobtrusive</a></li>
        <li><a href="https://github.com/components/jqueryui">JQuery-ui</a></li>
        <li><a href="https://craftpip.github.io/jquery-confirm/">Jquery-confirm </a></li>
        <li><a href="https://github.com/requirejs/almond">Almond</a></li>
        <li><a href="https://github.com/knockout/knockout">Knockout </a></li>
        <li><a href="https://github.com/Esri/arcgis-js-api">Arcgis-js-api</a></li>
        <li><a href="https://github.com/videojs">Video-js</a></li>
        <li><a href="https://github.com/mozilla/pdf.js">PDFJS</a></li>
        <li><a href="https://www.ruby-lang.org/en/">Ruby</a></li>
        <li><a href="http://sass-lang.com/">SASS</a></li>
        <li><a href="https://nodejs.org/en/">Node.js &amp; Node Package Manager</a></li>
        <li><a href="https://github.com/gruntjs/grunt">Grunt</a></li>
        <li> <a></a></li>
    </ul>
</div>
    