
<head>
    <style type="text/css">

 p.MsoNormal
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:8.0pt;
	margin-left:0in;
	line-height:105%;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;
	}
p.MsoListParagraphCxSpFirst
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.5in;
	margin-bottom:.0001pt;
	line-height:105%;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;
	}
p.MsoListParagraphCxSpMiddle
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.5in;
	margin-bottom:.0001pt;
	line-height:105%;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;
	}
a:link
	{color:#0563C1;
	text-decoration:underline;
	text-underline:single;
        }
p.MsoListParagraphCxSpLast
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:8.0pt;
	margin-left:.5in;
	line-height:105%;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;
	}
    </style>
</head>
<div class="well well-lg ack">
    <p align="center" class="MsoNormal" style="text-align:center">
        <b style="mso-bidi-font-weight:
normal"><span style="font-size:12.0pt;line-height:105%;font-family:&quot;Times New Roman&quot;,serif">Acknowledgements<o:p></o:p></span></b>
    </p>
    <p class="MsoListParagraphCxSpFirst" style="text-indent:-.25in;mso-list:l2 level1 lfo1">
        <![if !supportLists]><span style="font-size:12.0pt;line-height:105%;font-family:Wingdings;mso-fareast-font-family:
Wingdings;mso-bidi-font-family:Wingdings"><span style="mso-list:Ignore">Ø<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span></span><![endif]><span style="font-family:&quot;Times New Roman&quot;,serif">First and foremost, a “Big Thanks and Props” to the contributors of &quot;The Open Source” movement. It’s been a long journey that has changed the face of software development forever!</span><b style="mso-bidi-font-weight:normal">
            <span style="font-size:12.0pt;line-height:
105%;font-family:&quot;Times New Roman&quot;,serif"><o:p></o:p></span>
        </b>
    </p>
    <p class="MsoListParagraphCxSpMiddle" style="text-indent:-.25in;mso-list:l2 level1 lfo1">
        <![if !supportLists]><span style="font-size:12.0pt;line-height:105%;font-family:Wingdings;mso-fareast-font-family:
Wingdings;mso-bidi-font-family:Wingdings"><span style="mso-list:Ignore">Ø<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span></span><![endif]><span style="font-family:&quot;Times New Roman&quot;,serif">To Bill Gates! Yes! And whomever at MS that is actually calling the shots for Visual Studio development technology. All of these Microsoft™ provided packages are currently being used. These are either default packages defined in the template or additional packages and can all be downloaded with the NuGet Package Manager.</span><b style="mso-bidi-font-weight:
normal"><span style="font-size:12.0pt;line-height:105%;font-family:&quot;Times New Roman&quot;,serif"><o:p></o:p></span></b>
    </p>
    <p class="MsoListParagraphCxSpMiddle" style="margin-left:1.0in;mso-add-space:
auto;text-indent:-.25in;mso-list:l1 level1 lfo2">
        <![if !supportLists]><span style="font-size:10.0pt;line-height:105%;font-family:Wingdings;mso-fareast-font-family:
Wingdings;mso-bidi-font-family:Wingdings"><span style="mso-list:Ignore">§<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span></span><![endif]><span style="font-size:10.0pt;line-height:105%;font-family:&quot;Times New Roman&quot;,serif">jQWidgets.AspNetCore.Mvc.Bootstrap.TagHelpers<o:p></o:p></span>
    </p>
    <p class="MsoListParagraphCxSpMiddle" style="margin-left:1.0in;mso-add-space:
auto;text-indent:-.25in;mso-list:l1 level1 lfo2">
        <![if !supportLists]><span style="font-size:10.0pt;line-height:105%;font-family:Wingdings;mso-fareast-font-family:
Wingdings;mso-bidi-font-family:Wingdings"><span style="mso-list:Ignore">§<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span></span><![endif]><span style="font-size:10.0pt;line-height:105%;font-family:&quot;Times New Roman&quot;,serif">Microsoft.ApplicationInsights.AspNetCore<o:p></o:p></span>
    </p>
    <p class="MsoListParagraphCxSpMiddle" style="margin-left:1.0in;mso-add-space:
auto;text-indent:-.25in;mso-list:l1 level1 lfo2">
        <![if !supportLists]><span style="font-size:10.0pt;line-height:105%;font-family:Wingdings;mso-fareast-font-family:
Wingdings;mso-bidi-font-family:Wingdings"><span style="mso-list:Ignore">§<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span></span><![endif]><span style="font-size:10.0pt;line-height:105%;font-family:&quot;Times New Roman&quot;,serif">Microsoft.AspNetCore<o:p></o:p></span>
    </p>
    <p class="MsoListParagraphCxSpMiddle" style="margin-left:1.0in;mso-add-space:
auto;text-indent:-.25in;mso-list:l1 level1 lfo2">
        <![if !supportLists]><span style="font-size:10.0pt;line-height:105%;font-family:Wingdings;mso-fareast-font-family:
Wingdings;mso-bidi-font-family:Wingdings"><span style="mso-list:Ignore">§<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span></span><![endif]><span style="font-size:10.0pt;line-height:105%;font-family:&quot;Times New Roman&quot;,serif">Microsoft.AspNetCore.Authentication.Cookies<o:p></o:p></span>
    </p>
    <p class="MsoListParagraphCxSpMiddle" style="margin-left:1.0in;mso-add-space:
auto;text-indent:-.25in;mso-list:l1 level1 lfo2">
        <![if !supportLists]><span style="font-size:10.0pt;line-height:105%;font-family:Wingdings;mso-fareast-font-family:
Wingdings;mso-bidi-font-family:Wingdings"><span style="mso-list:Ignore">§<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span></span><![endif]><span style="font-size:10.0pt;line-height:105%;font-family:&quot;Times New Roman&quot;,serif">Microsoft.AspNetCore.Authentication.Facebook<o:p></o:p></span>
    </p>
    <p class="MsoListParagraphCxSpMiddle" style="margin-left:1.0in;mso-add-space:
auto;text-indent:-.25in;mso-list:l1 level1 lfo2">
        <![if !supportLists]><span style="font-size:10.0pt;line-height:105%;font-family:Wingdings;mso-fareast-font-family:
Wingdings;mso-bidi-font-family:Wingdings"><span style="mso-list:Ignore">§<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span></span><![endif]><span style="font-size:10.0pt;line-height:105%;font-family:&quot;Times New Roman&quot;,serif">Microsoft.AspNetCore.Authentication.Google<o:p></o:p></span>
    </p>
    <p class="MsoListParagraphCxSpMiddle" style="margin-left:1.0in;mso-add-space:
auto;text-indent:-.25in;mso-list:l1 level1 lfo2">
        <![if !supportLists]><span style="font-size:10.0pt;line-height:105%;font-family:Wingdings;mso-fareast-font-family:
Wingdings;mso-bidi-font-family:Wingdings"><span style="mso-list:Ignore">§<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span></span><![endif]><span style="font-size:10.0pt;line-height:105%;font-family:&quot;Times New Roman&quot;,serif">Microsoft.AspNetCore.Authentication.MicrosoftAccount<o:p></o:p></span>
    </p>
    <p class="MsoListParagraphCxSpMiddle" style="margin-left:1.0in;mso-add-space:
auto;text-indent:-.25in;mso-list:l1 level1 lfo2">
        <![if !supportLists]><span style="font-size:10.0pt;line-height:105%;font-family:Wingdings;mso-fareast-font-family:
Wingdings;mso-bidi-font-family:Wingdings"><span style="mso-list:Ignore">§<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span></span><![endif]><span style="font-size:10.0pt;line-height:105%;font-family:&quot;Times New Roman&quot;,serif">Microsoft.AspNetCore.Authentication.OAuth<o:p></o:p></span>
    </p>
    <p class="MsoListParagraphCxSpMiddle" style="margin-left:1.0in;mso-add-space:
auto;text-indent:-.25in;mso-list:l1 level1 lfo2">
        <![if !supportLists]><span style="font-size:10.0pt;line-height:105%;font-family:Wingdings;mso-fareast-font-family:
Wingdings;mso-bidi-font-family:Wingdings"><span style="mso-list:Ignore">§<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span></span><![endif]><span style="font-size:10.0pt;line-height:105%;font-family:&quot;Times New Roman&quot;,serif">Microsoft.AspNetCore.Authentication.OpenIdConnect<o:p></o:p></span>
    </p>
    <p class="MsoListParagraphCxSpMiddle" style="margin-left:1.0in;mso-add-space:
auto;text-indent:-.25in;mso-list:l1 level1 lfo2">
        <![if !supportLists]><span style="font-size:10.0pt;line-height:105%;font-family:Wingdings;mso-fareast-font-family:
Wingdings;mso-bidi-font-family:Wingdings"><span style="mso-list:Ignore">§<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span></span><![endif]><span style="font-size:10.0pt;line-height:105%;font-family:&quot;Times New Roman&quot;,serif">Microsoft.AspNetCore.Authentication.Twitter<o:p></o:p></span>
    </p>
    <p class="MsoListParagraphCxSpMiddle" style="margin-left:1.0in;mso-add-space:
auto;text-indent:-.25in;mso-list:l1 level1 lfo2">
        <![if !supportLists]><span style="font-size:10.0pt;line-height:105%;font-family:Wingdings;mso-fareast-font-family:
Wingdings;mso-bidi-font-family:Wingdings"><span style="mso-list:Ignore">§<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span></span><![endif]><span style="font-size:10.0pt;line-height:105%;font-family:&quot;Times New Roman&quot;,serif">Microsoft.AspNetCore.Diagnostics<o:p></o:p></span>
    </p>
    <p class="MsoListParagraphCxSpMiddle" style="margin-left:1.0in;mso-add-space:
auto;text-indent:-.25in;mso-list:l1 level1 lfo2">
        <![if !supportLists]><span style="font-size:10.0pt;line-height:105%;font-family:Wingdings;mso-fareast-font-family:
Wingdings;mso-bidi-font-family:Wingdings"><span style="mso-list:Ignore">§<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span></span><![endif]><span style="font-size:10.0pt;line-height:105%;font-family:&quot;Times New Roman&quot;,serif">Microsoft.AspNetCore.Diagnostics.Elm<o:p></o:p></span>
    </p>
    <p class="MsoListParagraphCxSpMiddle" style="margin-left:1.0in;mso-add-space:
auto;text-indent:-.25in;mso-list:l1 level1 lfo2">
        <![if !supportLists]><span style="font-size:10.0pt;line-height:105%;font-family:Wingdings;mso-fareast-font-family:
Wingdings;mso-bidi-font-family:Wingdings"><span style="mso-list:Ignore">§<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span></span><![endif]><span style="font-size:10.0pt;line-height:105%;font-family:&quot;Times New Roman&quot;,serif">Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore<o:p></o:p></span>
    </p>
    <p class="MsoListParagraphCxSpMiddle" style="margin-left:1.0in;mso-add-space:
auto;text-indent:-.25in;mso-list:l1 level1 lfo2">
        <![if !supportLists]><span style="font-size:10.0pt;line-height:105%;font-family:Wingdings;mso-fareast-font-family:
Wingdings;mso-bidi-font-family:Wingdings"><span style="mso-list:Ignore">§<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span></span><![endif]><span style="font-size:10.0pt;line-height:105%;font-family:&quot;Times New Roman&quot;,serif">Microsoft.AspNetCore.Hosting<o:p></o:p></span>
    </p>
    <p class="MsoListParagraphCxSpMiddle" style="margin-left:1.0in;mso-add-space:
auto;text-indent:-.25in;mso-list:l1 level1 lfo2">
        <![if !supportLists]><span style="font-size:10.0pt;line-height:105%;font-family:Wingdings;mso-fareast-font-family:
Wingdings;mso-bidi-font-family:Wingdings"><span style="mso-list:Ignore">§<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span></span><![endif]><span style="font-size:10.0pt;line-height:105%;font-family:&quot;Times New Roman&quot;,serif">Microsoft.AspNetCore.Http.Extensions<o:p></o:p></span>
    </p>
    <p class="MsoListParagraphCxSpMiddle" style="margin-left:1.0in;mso-add-space:
auto;text-indent:-.25in;mso-list:l1 level1 lfo2">
        <![if !supportLists]><span style="font-size:10.0pt;line-height:105%;font-family:Wingdings;mso-fareast-font-family:
Wingdings;mso-bidi-font-family:Wingdings"><span style="mso-list:Ignore">§<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span></span><![endif]><span style="font-size:10.0pt;line-height:105%;font-family:&quot;Times New Roman&quot;,serif">Microsoft.AspNetCore.Http.Features<o:p></o:p></span>
    </p>
    <p class="MsoListParagraphCxSpMiddle" style="margin-left:1.0in;mso-add-space:
auto;text-indent:-.25in;mso-list:l1 level1 lfo2">
        <![if !supportLists]><span style="font-size:10.0pt;line-height:105%;font-family:Wingdings;mso-fareast-font-family:
Wingdings;mso-bidi-font-family:Wingdings"><span style="mso-list:Ignore">§<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span></span><![endif]><span style="font-size:10.0pt;line-height:105%;font-family:&quot;Times New Roman&quot;,serif">Microsoft.AspNetCore.Identity<o:p></o:p></span>
    </p>
    <p class="MsoListParagraphCxSpMiddle" style="margin-left:1.0in;mso-add-space:
auto;text-indent:-.25in;mso-list:l1 level1 lfo2">
        <![if !supportLists]><span style="font-size:10.0pt;line-height:105%;font-family:Wingdings;mso-fareast-font-family:
Wingdings;mso-bidi-font-family:Wingdings"><span style="mso-list:Ignore">§<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span></span><![endif]><span style="font-size:10.0pt;line-height:105%;font-family:&quot;Times New Roman&quot;,serif">Microsoft.AspNetCore.Identity.EntityFrameworkCore<o:p></o:p></span>
    </p>
    <p class="MsoListParagraphCxSpMiddle" style="margin-left:1.0in;mso-add-space:
auto;text-indent:-.25in;mso-list:l1 level1 lfo2">
        <![if !supportLists]><span style="font-size:10.0pt;line-height:105%;font-family:Wingdings;mso-fareast-font-family:
Wingdings;mso-bidi-font-family:Wingdings"><span style="mso-list:Ignore">§<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span></span><![endif]><span style="font-size:10.0pt;line-height:105%;font-family:&quot;Times New Roman&quot;,serif">Microsoft.AspNetCore.JsonPatch<o:p></o:p></span>
    </p>
    <p class="MsoListParagraphCxSpMiddle" style="margin-left:1.0in;mso-add-space:
auto;text-indent:-.25in;mso-list:l1 level1 lfo2">
        <![if !supportLists]><span style="font-size:10.0pt;line-height:105%;font-family:Wingdings;mso-fareast-font-family:
Wingdings;mso-bidi-font-family:Wingdings"><span style="mso-list:Ignore">§<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span></span><![endif]><span style="font-size:10.0pt;line-height:105%;font-family:&quot;Times New Roman&quot;,serif">Microsoft.AspNetCore.Mvc<o:p></o:p></span>
    </p>
    <p class="MsoListParagraphCxSpMiddle" style="margin-left:1.0in;mso-add-space:
auto;text-indent:-.25in;mso-list:l1 level1 lfo2">
        <![if !supportLists]><span style="font-size:10.0pt;line-height:105%;font-family:Wingdings;mso-fareast-font-family:
Wingdings;mso-bidi-font-family:Wingdings"><span style="mso-list:Ignore">§<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span></span><![endif]><span style="font-size:10.0pt;line-height:105%;font-family:&quot;Times New Roman&quot;,serif">Microsoft.AspNetCore.Mvc.Razor.Host<o:p></o:p></span>
    </p>
    <p class="MsoListParagraphCxSpMiddle" style="margin-left:1.0in;mso-add-space:
auto;text-indent:-.25in;mso-list:l1 level1 lfo2">
        <![if !supportLists]><span style="font-size:10.0pt;line-height:105%;font-family:Wingdings;mso-fareast-font-family:
Wingdings;mso-bidi-font-family:Wingdings"><span style="mso-list:Ignore">§<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span></span><![endif]><span style="font-size:10.0pt;line-height:105%;font-family:&quot;Times New Roman&quot;,serif">Microsoft.AspNetCore.Owin<o:p></o:p></span>
    </p>
    <p class="MsoListParagraphCxSpMiddle" style="margin-left:1.0in;mso-add-space:
auto;text-indent:-.25in;mso-list:l1 level1 lfo2">
        <![if !supportLists]><span style="font-size:10.0pt;line-height:105%;font-family:Wingdings;mso-fareast-font-family:
Wingdings;mso-bidi-font-family:Wingdings"><span style="mso-list:Ignore">§<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span></span><![endif]><span style="font-size:10.0pt;line-height:105%;font-family:&quot;Times New Roman&quot;,serif">Microsoft.AspNetCore.Routing.Abstractions<o:p></o:p></span>
    </p>
    <p class="MsoListParagraphCxSpMiddle" style="margin-left:1.0in;mso-add-space:
auto;text-indent:-.25in;mso-list:l1 level1 lfo2">
        <![if !supportLists]><span style="font-size:10.0pt;line-height:105%;font-family:Wingdings;mso-fareast-font-family:
Wingdings;mso-bidi-font-family:Wingdings"><span style="mso-list:Ignore">§<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span></span><![endif]><span style="font-size:10.0pt;line-height:105%;font-family:&quot;Times New Roman&quot;,serif">Microsoft.AspNetCore.Server.IISIntegration<o:p></o:p></span>
    </p>
    <p class="MsoListParagraphCxSpMiddle" style="margin-left:1.0in;mso-add-space:
auto;text-indent:-.25in;mso-list:l1 level1 lfo2">
        <![if !supportLists]><span style="font-size:10.0pt;line-height:105%;font-family:Wingdings;mso-fareast-font-family:
Wingdings;mso-bidi-font-family:Wingdings"><span style="mso-list:Ignore">§<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span></span><![endif]><span style="font-size:10.0pt;line-height:105%;font-family:&quot;Times New Roman&quot;,serif">Microsoft.AspNetCore.Server.Kestrel<o:p></o:p></span>
    </p>
    <p class="MsoListParagraphCxSpMiddle" style="margin-left:1.0in;mso-add-space:
auto;text-indent:-.25in;mso-list:l1 level1 lfo2">
        <![if !supportLists]><span style="font-size:10.0pt;line-height:105%;font-family:Wingdings;mso-fareast-font-family:
Wingdings;mso-bidi-font-family:Wingdings"><span style="mso-list:Ignore">§<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span></span><![endif]><span style="font-size:10.0pt;line-height:105%;font-family:&quot;Times New Roman&quot;,serif">Microsoft.AspNetCore.StaticFiles<o:p></o:p></span>
    </p>
    <p class="MsoListParagraphCxSpMiddle" style="margin-left:1.0in;mso-add-space:
auto;text-indent:-.25in;mso-list:l1 level1 lfo2">
        <![if !supportLists]><span style="font-size:10.0pt;line-height:105%;font-family:Wingdings;mso-fareast-font-family:
Wingdings;mso-bidi-font-family:Wingdings"><span style="mso-list:Ignore">§<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span></span><![endif]><span style="font-size:10.0pt;line-height:105%;font-family:&quot;Times New Roman&quot;,serif">Microsoft.AspNetCore.WebUtilities<o:p></o:p></span>
    </p>
    <p class="MsoListParagraphCxSpMiddle" style="margin-left:1.0in;mso-add-space:
auto;text-indent:-.25in;mso-list:l1 level1 lfo2">
        <![if !supportLists]><span style="font-size:10.0pt;line-height:105%;font-family:Wingdings;mso-fareast-font-family:
Wingdings;mso-bidi-font-family:Wingdings"><span style="mso-list:Ignore">§<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span></span><![endif]><span style="font-size:10.0pt;line-height:105%;font-family:&quot;Times New Roman&quot;,serif">
            Microsoft.EntityFrameworkCore.Design&quot;
            <o:p></o:p>
        </span>
    </p>
    <p class="MsoListParagraphCxSpMiddle" style="margin-left:1.0in;mso-add-space:
auto;text-indent:-.25in;mso-list:l1 level1 lfo2">
        <![if !supportLists]><span style="font-size:10.0pt;line-height:105%;font-family:Wingdings;mso-fareast-font-family:
Wingdings;mso-bidi-font-family:Wingdings"><span style="mso-list:Ignore">§<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span></span><![endif]><span style="font-size:10.0pt;line-height:105%;font-family:&quot;Times New Roman&quot;,serif">Microsoft.EntityFrameworkCore.SqlServer<o:p></o:p></span>
    </p>
    <p class="MsoListParagraphCxSpMiddle" style="margin-left:1.0in;mso-add-space:
auto;text-indent:-.25in;mso-list:l1 level1 lfo2">
        <![if !supportLists]><span style="font-size:10.0pt;line-height:105%;font-family:Wingdings;mso-fareast-font-family:
Wingdings;mso-bidi-font-family:Wingdings"><span style="mso-list:Ignore">§<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span></span><![endif]><span style="font-size:10.0pt;line-height:105%;font-family:&quot;Times New Roman&quot;,serif">
            Microsoft.EntityFrameworkCore.SqlServer.Design&quot;
            <o:p></o:p>
        </span>
    </p>
    <p class="MsoListParagraphCxSpMiddle" style="margin-left:1.0in;mso-add-space:
auto;text-indent:-.25in;mso-list:l1 level1 lfo2">
        <![if !supportLists]><span style="font-size:10.0pt;line-height:105%;font-family:Wingdings;mso-fareast-font-family:
Wingdings;mso-bidi-font-family:Wingdings"><span style="mso-list:Ignore">§<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span></span><![endif]><span style="font-size:10.0pt;line-height:105%;font-family:&quot;Times New Roman&quot;,serif">Microsoft.EntityFrameworkCore.Tools<o:p></o:p></span>
    </p>
    <p class="MsoListParagraphCxSpMiddle" style="margin-left:1.0in;mso-add-space:
auto;text-indent:-.25in;mso-list:l1 level1 lfo2">
        <![if !supportLists]><span style="font-size:10.0pt;line-height:105%;font-family:Wingdings;mso-fareast-font-family:
Wingdings;mso-bidi-font-family:Wingdings"><span style="mso-list:Ignore">§<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span></span><![endif]><span style="font-size:10.0pt;line-height:105%;font-family:&quot;Times New Roman&quot;,serif">Microsoft.Extensions.Configuration.Json<o:p></o:p></span>
    </p>
    <p class="MsoListParagraphCxSpMiddle" style="margin-left:1.0in;mso-add-space:
auto;text-indent:-.25in;mso-list:l1 level1 lfo2">
        <![if !supportLists]><span style="font-size:10.0pt;line-height:105%;font-family:Wingdings;mso-fareast-font-family:
Wingdings;mso-bidi-font-family:Wingdings"><span style="mso-list:Ignore">§<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span></span><![endif]><span style="font-size:10.0pt;line-height:105%;font-family:&quot;Times New Roman&quot;,serif">Microsoft.Extensions.Configuration.UserSecrets<o:p></o:p></span>
    </p>
    <p class="MsoListParagraphCxSpMiddle" style="margin-left:1.0in;mso-add-space:
auto;text-indent:-.25in;mso-list:l1 level1 lfo2">
        <![if !supportLists]><span style="font-size:10.0pt;line-height:105%;font-family:Wingdings;mso-fareast-font-family:
Wingdings;mso-bidi-font-family:Wingdings"><span style="mso-list:Ignore">§<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span></span><![endif]><span style="font-size:10.0pt;line-height:105%;font-family:&quot;Times New Roman&quot;,serif">Microsoft.Extensions.Logging.Debug<o:p></o:p></span>
    </p>
    <p class="MsoListParagraphCxSpMiddle" style="margin-left:1.0in;mso-add-space:
auto;text-indent:-.25in;mso-list:l1 level1 lfo2">
        <![if !supportLists]><span style="font-size:10.0pt;line-height:105%;font-family:Wingdings;mso-fareast-font-family:
Wingdings;mso-bidi-font-family:Wingdings"><span style="mso-list:Ignore">§<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span></span><![endif]><span style="font-size:10.0pt;line-height:105%;font-family:&quot;Times New Roman&quot;,serif">Microsoft.VisualStudio.Web.BrowserLink<o:p></o:p></span>
    </p>
    <p class="MsoListParagraphCxSpMiddle" style="margin-left:1.0in;mso-add-space:
auto;text-indent:-.25in;mso-list:l1 level1 lfo2">
        <![if !supportLists]><span style="font-size:10.0pt;line-height:105%;font-family:Wingdings;mso-fareast-font-family:
Wingdings;mso-bidi-font-family:Wingdings"><span style="mso-list:Ignore">§<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span></span><![endif]><span style="font-size:10.0pt;line-height:105%;font-family:&quot;Times New Roman&quot;,serif">Newtonsoft.Json&quot;<o:p></o:p></span>
    </p>
    <p class="MsoListParagraphCxSpMiddle" style="margin-left:1.0in;mso-add-space:
auto;text-indent:-.25in;mso-list:l1 level1 lfo2">
        <![if !supportLists]><span style="font-size:10.0pt;line-height:105%;font-family:Wingdings;mso-fareast-font-family:
Wingdings;mso-bidi-font-family:Wingdings"><span style="mso-list:Ignore">§<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span></span><![endif]><span style="font-size:10.0pt;line-height:105%;font-family:&quot;Times New Roman&quot;,serif">
            Microsoft.EntityFrameworkCore.Tools.DotNet&quot;
            <o:p></o:p>
        </span>
    </p>
    <p class="MsoListParagraphCxSpMiddle" style="margin-left:1.0in;mso-add-space:
auto;text-indent:-.25in;mso-list:l1 level1 lfo2">
        <![if !supportLists]><span style="font-size:10.0pt;line-height:105%;font-family:Wingdings;mso-fareast-font-family:
Wingdings;mso-bidi-font-family:Wingdings"><span style="mso-list:Ignore">§<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span></span><![endif]><span style="font-size:10.0pt;line-height:105%;font-family:&quot;Times New Roman&quot;,serif">Microsoft.Extensions.SecretManager.Tools<o:p></o:p></span>
    </p>
    <p class="MsoListParagraphCxSpMiddle" style="margin-top:0in;margin-right:0in;
margin-bottom:0in;margin-left:1.0in;margin-bottom:.0001pt;mso-add-space:auto;
text-indent:-.25in;mso-list:l1 level1 lfo2">
        <![if !supportLists]><span style="font-size:12.0pt;line-height:105%;font-family:Wingdings;mso-fareast-font-family:
Wingdings;mso-bidi-font-family:Wingdings"><span style="mso-list:Ignore">§<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span></span><![endif]><span style="font-size:10.0pt;line-height:105%;font-family:&quot;Times New Roman&quot;,serif">Microsoft.VisualStudio.Web.CodeGeneration.Tools</span><span style="font-size:12.0pt;line-height:105%;font-family:&quot;Times New Roman&quot;,serif"><o:p></o:p></span>
    </p>
    <p class="MsoListParagraphCxSpMiddle" style="margin-bottom:0in;margin-bottom:
.0001pt;mso-add-space:auto;text-indent:-.25in;mso-list:l0 level1 lfo3">
        <![if !supportLists]><span style="font-size:12.0pt;line-height:105%;font-family:Wingdings;mso-fareast-font-family:
Wingdings;mso-bidi-font-family:Wingdings"><span style="mso-list:Ignore">Ø<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span></span><![endif]><span style="font-size:12.0pt;line-height:105%;font-family:&quot;Times New Roman&quot;,serif">To these contributors, in no particular order:<o:p></o:p></span>
    </p>
    <p class="MsoListParagraphCxSpMiddle" style="margin-top:0in;margin-right:0in;
margin-bottom:0in;margin-left:1.0in;margin-bottom:.0001pt;mso-add-space:auto;
text-indent:-.25in;line-height:normal;mso-list:l0 level2 lfo3;mso-layout-grid-align:
none;text-autospace:none">
        <![if !supportLists]><span style="font-size:9.5pt;
font-family:Wingdings;mso-fareast-font-family:Wingdings;mso-bidi-font-family:
Wingdings;color:black"><span style="mso-list:Ignore">§<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span></span><![endif]><span style="font-size:9.5pt;font-family:Consolas;
mso-bidi-font-family:Consolas;color:black">Newtonsoft.Json James Newton-King -<a href="http://www.newtonsoft.com/json">http://www.newtonsoft.com/json</a><o:p></o:p></span>
    </p>
    <p class="MsoListParagraphCxSpMiddle" style="margin-top:0in;margin-right:0in;
margin-bottom:0in;margin-left:1.0in;margin-bottom:.0001pt;mso-add-space:auto;
text-indent:-.25in;line-height:normal;mso-list:l0 level2 lfo3;mso-layout-grid-align:
none;text-autospace:none">
        <![if !supportLists]><span lang="SV" style="font-size:
9.5pt;font-family:Wingdings;mso-fareast-font-family:Wingdings;mso-bidi-font-family:
Wingdings;color:black;mso-ansi-language:SV"><span style="mso-list:Ignore">§<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span></span><![endif]><span lang="SV" style="font-size:9.5pt;font-family:Consolas;mso-bidi-font-family:Consolas;
color:black;mso-ansi-language:SV">jquery: 3.2.1 -<a href="https://jquery.com/">https://jquery.com/</a><o:p></o:p></span>
    </p>
    <p class="MsoListParagraphCxSpMiddle" style="margin-top:0in;margin-right:0in;
margin-bottom:0in;margin-left:1.0in;margin-bottom:.0001pt;mso-add-space:auto;
text-indent:-.25in;line-height:normal;mso-list:l0 level2 lfo3;mso-layout-grid-align:
none;text-autospace:none">
        <![if !supportLists]><span style="font-size:9.5pt;
font-family:Wingdings;mso-fareast-font-family:Wingdings;mso-bidi-font-family:
Wingdings;color:black"><span style="mso-list:Ignore">§<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span></span><![endif]><span style="font-size:9.5pt;font-family:Consolas;
mso-bidi-font-family:Consolas;color:black">jquery-validation: 1.16.0<a href="https://github.com/jquery-validation/jquery-validation">https://github.com/jquery-validation/jquery-validation</a><o:p></o:p></span>
    </p>
    <p class="MsoListParagraphCxSpMiddle" style="margin-top:0in;margin-right:0in;
margin-bottom:0in;margin-left:1.0in;margin-bottom:.0001pt;mso-add-space:auto;
text-indent:-.25in;line-height:normal;mso-list:l0 level2 lfo3;mso-layout-grid-align:
none;text-autospace:none">
        <![if !supportLists]><span lang="SV" style="font-size:
9.5pt;font-family:Wingdings;mso-fareast-font-family:Wingdings;mso-bidi-font-family:
Wingdings;color:black;mso-ansi-language:SV"><span style="mso-list:Ignore">§<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span></span><![endif]><span lang="SV" style="font-size:9.5pt;font-family:Consolas;mso-bidi-font-family:Consolas;
color:black;mso-ansi-language:SV">jquery-validation-unobtrusive: 3.2.6 - Microsoft<o:p></o:p></span>
    </p>
    <p class="MsoListParagraphCxSpMiddle" style="margin-top:0in;margin-right:0in;
margin-bottom:0in;margin-left:1.0in;margin-bottom:.0001pt;mso-add-space:auto;
text-indent:-.25in;line-height:normal;mso-list:l0 level2 lfo3;mso-layout-grid-align:
none;text-autospace:none">
        <![if !supportLists]><span style="font-size:9.5pt;
font-family:Wingdings;mso-fareast-font-family:Wingdings;mso-bidi-font-family:
Wingdings;color:black"><span style="mso-list:Ignore">§<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span></span><![endif]><span style="font-size:9.5pt;font-family:Consolas;
mso-bidi-font-family:Consolas;color:black">knockout: v3.4.2 -<a href="https://github.com/knockout/knockout">https://github.com/knockout/knockout</a><o:p></o:p></span>
    </p>
    <p class="MsoListParagraphCxSpMiddle" style="margin-top:0in;margin-right:0in;
margin-bottom:0in;margin-left:1.0in;margin-bottom:.0001pt;mso-add-space:auto;
text-indent:-.25in;line-height:normal;mso-list:l0 level2 lfo3;mso-layout-grid-align:
none;text-autospace:none">
        <![if !supportLists]><span lang="SV" style="font-size:
9.5pt;font-family:Wingdings;mso-fareast-font-family:Wingdings;mso-bidi-font-family:
Wingdings;color:black;mso-ansi-language:SV"><span style="mso-list:Ignore">§<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span></span><![endif]><span lang="SV" style="font-size:9.5pt;font-family:Consolas;mso-bidi-font-family:Consolas;
color:black;mso-ansi-language:SV">grunt: v1.0.1 -<a href="https://github.com/gruntjs/grunt">https://github.com/gruntjs/grunt</a><o:p></o:p></span>
    </p>
    <p class="MsoListParagraphCxSpMiddle" style="margin-top:0in;margin-right:0in;
margin-bottom:0in;margin-left:1.0in;margin-bottom:.0001pt;mso-add-space:auto;
text-indent:-.25in;line-height:normal;mso-list:l0 level2 lfo3;mso-layout-grid-align:
none;text-autospace:none">
        <![if !supportLists]><span lang="SV" style="font-size:
9.5pt;font-family:Wingdings;mso-fareast-font-family:Wingdings;mso-bidi-font-family:
Wingdings;color:black;mso-ansi-language:SV"><span style="mso-list:Ignore">§<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span></span><![endif]><span lang="SV" style="font-size:9.5pt;font-family:Consolas;mso-bidi-font-family:Consolas;
color:black;mso-ansi-language:SV">grunt-cli: v1.2.0<o:p></o:p></span>
    </p>
    <p class="MsoListParagraphCxSpMiddle" style="margin-top:0in;margin-right:0in;
margin-bottom:0in;margin-left:1.0in;margin-bottom:.0001pt;mso-add-space:auto;
text-indent:-.25in;line-height:normal;mso-list:l0 level2 lfo3;mso-layout-grid-align:
none;text-autospace:none">
        <![if !supportLists]><span lang="SV" style="font-size:
9.5pt;font-family:Wingdings;mso-fareast-font-family:Wingdings;mso-bidi-font-family:
Wingdings;color:black;mso-ansi-language:SV"><span style="mso-list:Ignore">§<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span></span><![endif]><span lang="SV" style="font-size:9.5pt;font-family:Consolas;mso-bidi-font-family:Consolas;
color:black;mso-ansi-language:SV">almond: 0.3.3<o:p></o:p></span>
    </p>
    <p class="MsoListParagraphCxSpMiddle" style="margin-top:0in;margin-right:0in;
margin-bottom:0in;margin-left:1.0in;margin-bottom:.0001pt;mso-add-space:auto;
text-indent:-.25in;line-height:normal;mso-list:l0 level2 lfo3;mso-layout-grid-align:
none;text-autospace:none">
        <![if !supportLists]><span style="font-size:9.5pt;
font-family:Wingdings;mso-fareast-font-family:Wingdings;mso-bidi-font-family:
Wingdings;color:black"><span style="mso-list:Ignore">§<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span></span><![endif]><span style="font-size:9.5pt;font-family:Consolas;
mso-bidi-font-family:Consolas;color:black">jquery-ui: 1.12.1 -<a href="https://github.com/components/jqueryui">https://github.com/components/jqueryui</a><o:p></o:p></span>
    </p>
    <p class="MsoListParagraphCxSpMiddle" style="margin-top:0in;margin-right:0in;
margin-bottom:0in;margin-left:1.0in;margin-bottom:.0001pt;mso-add-space:auto;
text-indent:-.25in;line-height:normal;mso-list:l0 level2 lfo3;mso-layout-grid-align:
none;text-autospace:none">
        <![if !supportLists]><span style="font-size:9.5pt;
font-family:Wingdings;mso-fareast-font-family:Wingdings;mso-bidi-font-family:
Wingdings;color:black"><span style="mso-list:Ignore">§<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span></span><![endif]><span style="font-size:9.5pt;font-family:Consolas;
mso-bidi-font-family:Consolas;color:black">jquery-mobile: 1.5.0-alpha.1 -<a href="https://github.com/jquery/jquery-mobile">https://github.com/jquery/jquery-mobile</a><o:p></o:p></span>
    </p>
    <p class="MsoListParagraphCxSpMiddle" style="margin-top:0in;margin-right:0in;
margin-bottom:0in;margin-left:1.0in;margin-bottom:.0001pt;mso-add-space:auto;
text-indent:-.25in;line-height:normal;mso-list:l0 level2 lfo3;mso-layout-grid-align:
none;text-autospace:none">
        <![if !supportLists]><span lang="SV" style="font-size:
9.5pt;font-family:Wingdings;mso-fareast-font-family:Wingdings;mso-bidi-font-family:
Wingdings;color:black;mso-ansi-language:SV"><span style="mso-list:Ignore">§<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span></span><![endif]><span lang="SV" style="font-size:9.5pt;font-family:Consolas;mso-bidi-font-family:Consolas;
color:black;mso-ansi-language:SV">jquery-tmpl: vBeta1.0.0<o:p></o:p></span>
    </p>
    <p class="MsoListParagraphCxSpMiddle" style="margin-top:0in;margin-right:0in;
margin-bottom:0in;margin-left:1.0in;margin-bottom:.0001pt;mso-add-space:auto;
text-indent:-.25in;line-height:normal;mso-list:l0 level2 lfo3;mso-layout-grid-align:
none;text-autospace:none">
        <![if !supportLists]><span style="font-size:9.5pt;
font-family:Wingdings;mso-fareast-font-family:Wingdings;mso-bidi-font-family:
Wingdings;color:black"><span style="mso-list:Ignore">§<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span></span><![endif]><span style="font-size:9.5pt;font-family:Consolas;
mso-bidi-font-family:Consolas;color:black">font-awesome: Font-Awesome#v4.7.0 -<a href="https://github.com/FortAwesome/Font-Awesome">https://github.com/FortAwesome/Font-Awesome</a><o:p></o:p></span>
    </p>
    <p class="MsoListParagraphCxSpMiddle" style="margin-top:0in;margin-right:0in;
margin-bottom:0in;margin-left:1.0in;margin-bottom:.0001pt;mso-add-space:auto;
text-indent:-.25in;line-height:normal;mso-list:l0 level2 lfo3;mso-layout-grid-align:
none;text-autospace:none">
        <![if !supportLists]><span lang="SV" style="font-size:
9.5pt;font-family:Wingdings;mso-fareast-font-family:Wingdings;mso-bidi-font-family:
Wingdings;color:black;mso-ansi-language:SV"><span style="mso-list:Ignore">§<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span></span><![endif]><span lang="SV" style="font-size:9.5pt;font-family:Consolas;mso-bidi-font-family:Consolas;
color:black;mso-ansi-language:SV">bootsstrap: v3.3.7 -<a href="http://getbootstrap.com/">http://getbootstrap.com/</a><o:p></o:p></span>
    </p>
    <p class="MsoListParagraphCxSpMiddle" style="margin-top:0in;margin-right:0in;
margin-bottom:0in;margin-left:1.0in;margin-bottom:.0001pt;mso-add-space:auto;
text-indent:-.25in;line-height:normal;mso-list:l0 level2 lfo3;mso-layout-grid-align:
none;text-autospace:none">
        <![if !supportLists]><span lang="SV" style="font-size:
9.5pt;font-family:Wingdings;mso-fareast-font-family:Wingdings;mso-bidi-font-family:
Wingdings;color:black;mso-ansi-language:SV"><span style="mso-list:Ignore">§<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span></span><![endif]><span lang="SV" style="font-size:9.5pt;font-family:Consolas;mso-bidi-font-family:Consolas;
color:black;mso-ansi-language:SV">bootstrap: v4.0.0-alpha.6 -<a href="https://github.com/twbs/bootstrap">https://github.com/twbs/bootstrap</a><o:p></o:p></span>
    </p>
    <p class="MsoListParagraphCxSpLast" style="text-indent:-.25in;mso-list:l0 level1 lfo3">
        <![if !supportLists]><span style="font-size:12.0pt;line-height:105%;font-family:Wingdings;mso-fareast-font-family:
Wingdings;mso-bidi-font-family:Wingdings"><span style="mso-list:Ignore">Ø<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span></span><![endif]><span style="font-size:12.0pt;line-height:105%;font-family:&quot;Times New Roman&quot;,serif">And last but not least thanks to Ivan Loire, <a href="file:///E:/UserLibs/HackDocs/Doc1_files/ajax@aspphotography.net">ajax@aspphotography.net</a>, whose original gallery template, <a href="http://www.aspphotogallery.net/">http://www.aspphotogallery.net</a>, started it all.<o:p></o:p></span>
    </p>
    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal;mso-layout-grid-align:none;text-autospace:none">
        <b style="mso-bidi-font-weight:
normal"><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;,serif"><o:p>&nbsp;</o:p></span></b>
    </p>

</div>