<div class="well well-lg" style="height:100%;width:100%;border-radius:0;background-color:lightgray">
    <div id="blog-text">
        <h1 class="text-center">Default WebSite.net discussions...</h1>

        <p>
            This is where I go on about what a blog is and that this is not one...
        </p>
        <p>
            ...the intention is to have pertinent posts regarding the site in general; or topical to the published articles. Specific posts about each article will serve as their individual discussions areas. Yes, I may infrequently post a rant about this or that for my amusement, but if you do feel inclined to participate...
        </p>
        <p>
            You are entering the embedded BlogEngine.Net service running on secureserver.net. 
            Your IP address has been resolved to:0.0.0.0
            Any unacceptable comments will result in your IP being blocked by ISP provider and if necessary 
            reported to the appropriate authorities. By clicking "Enter" button, you agree to the abide by 
            Default WebSite.net's <a href="/conduct.html" target="_blank"> Code of Conduct Policy</a>
        </p>
        <label>
                <input type="checkbox" disabled="disabled">
                <span class="label-text">I agree. Do not show again.</span>
            </label>
        <a id="btn-blog" class="btn btn-danger disabled" href="/" role="button">Enter...</a>
    </div>
    @*<div id="blog-content" class="hidden" style="height:100%;width:100%">
        <embed src="http://blogenginenet.local" style="height:100%;width:100%" />
    </div>*@

    <h1 class="alert-danger text-center">We are packing up and moving!!!</h1>
    <h3 class="alert-danger text-center">BlogEngine.Net offline during migration to ASP.NET Core.</h3>
    <h2 class="alert-danger text-center">Check back soon!</h2>

</div>