<div id="comments" class="card">
    <div>
        <h1 class="text-center">Default WebSite.net Comments...</h1>
        <h1 class="alert-danger text-center">Comments are suspended!!!</h1>
        <h3 class="alert-danger text-center">Looking for a better compatible opensource option for ASP.NET Core</h3>
        <h4 class="alert-danger text-center">OR</h4>
        <h3 class="alert-danger text-center">Implement the Comments Engine from the Document Server Archive code</h3>
        <h2 class="alert-danger text-center">Check back soon! Meanwhile I'll try to find a better color combo than Fuschia on Hot Pink... ;)</h2>
   </div>
</div>