<div class="panel panel-header well well-lg">

    <address class="panel" style="box-shadow:inset;padding:.5em">
        <a href="mailto:swart@hackinc.net">Default WebSite.net</a><br />
        Salt Lake City, Utah 84121<br />
        Utah  98052-6399<br /><br/>
        <strong>IT Craftsmen -</strong> <a href="https://hackinc.net"> at Hack Inc.</a><br />
        <strong>Idea Factory -</strong> <a href="https://newamsterdam.us"> New Amsterdam Ltd.</a><br/>
        <strong> <a href="https://swartling-family.com"> Live Document Archive website - ~10,000 files</a></strong><br />
        <strong>Website Inception Date:</strong>April 20th, 2017<br/>
        <a href="https://www.linkedin.com/in/eric-swartling/" style="padding-left:1em"><i class="fa fa-linkedin-square fa-2x"></i></a>
        <a href="https://github/Swarthack"><i class="fa fa-2x fa-github-square"></i></a><br/>
    </address>

    <div class="quote-container">
      <i class="pin"></i>
      <blockquote class="note yellow" style="width:auto;margin-left:5%;margin-right:5%;margin-bottom:1.5em;font-size:1em;font-style:italic;">
        BTW, FYI and all that...I am looking for work, as some visitors may already know or realize.
        This web-site illustrates just a small sampling of the "skill sets" I offer; as per the purpose of it's inception. 
        Please download my resume and/or CV below, and feel free to contact me directly with any questions. Thanks!
        <cite class="author" style="margin-top:.1em;margin-right: 20%;">EKS</cite>
      </blockquote>
    </div>

    <div style="margin-top: 3em;">
        <button class="dropdown-toggle collapsed" data-toggle="collapse" data-target="#doc-resume" style="margin-left:2em">
            <span class="h4">Open Resume</span>
        </button>

        <button class="dropdown-toggle collapsed" data-toggle="collapse" data-target="#doc-cv" style="margin-left:2em">
            <span class="h4">Open CV </span>
        </button>
    </div>

</div>
<div id="doc-resume" class="panel panel-collapse collapse">
    <div class="panel-body">
        <embed class="open-document" src="~/App_Data/Swartling,Eric-Resume.pdf" type="application/pdf"/>
    </div>
</div>

<div id="doc-cv" class="panel panel-collapse collapse">
    <div class="panel-body">
        <embed class="open-document" src="~/App_Data/Eric-Kennedy-Swartling.pdf" type="application/pdf" />
    </div>
</div>
   