<div id="contact">

    <div id="">
        <div id="top" class="card">
            <div id="top-left" class="card">
                <div id="info" class="card-body">
                    <i class="fa fa-globe fa-4x" style="color:darkblue"></i>
                    <br />
                    <p class="address">Default WebSite.net Core<br />Salt Lake City, Utah 84121</p>
                    <h6 class="font-italic ml-1"> In association with..</h6>
                    <p class="associations">
                        <a href="https://hackinc.net target=" _blank"">Hack Inc.</a> <br />
                        <span>&amp</span> <br />
                        <a href="https://newamsterdam.us target=" _blank"">New Amsterdam Ltd.</a>
                    </p>

                </div>
                <div id="more-info">
                    <a href="https://swartling-family.com" target="_blank">
                        <i class="swart swart-icon" style="font-size:2.25vh"></i>
                        <span class="adaals-text" style="font-size:1.5vh">Document Archive  ~10,000 files!</span>
                    </a>
                </div>
            </div>
            <div id="top-right" class="card">

                <div id="top-right-top">
                    <div id="badges">
                        <div class="dws-badge"><a href="mailto:eks68@msn.com" target="_blank"><i class="fa fa-envelope"></i></a></div>
                        <div class="dws-badge"><a href="https://www.linkedin.com/in/eric-swartling/" target="_blank"><i class="fa fa-linkedin-square"></i></a></div>
                        <div class="dws-badge"><a href="https://plus.google.com/107191241830051146283" target="_blank"><i class="fa fa-google-plus-circle"></i></a></div>
                        <div class="dws-badge"><a href="https://github/Swarthack" target="_blank"><i class="fa fa-github-square"></i></a></div>
                        <div class="dws-badge"><a href="https://developercommunity.visualstudio.com/users/6857/63cd1eae-11e4-4ef4-b23a-d5c75c57c0c1.html" target="_blank"><img src="~/images/tfs.png" /></a></div>
                        <div class="dws-badge"><a href="https://swarthack.visualstudio.com" target="_blank"><img src="~/images/tfs.png" /></a></div>
                        <div class="dws-badge"> <a href="" target="_blank"><img src="~/images/microsoft.png" /></a></div>
                        <div class="dws-badge"><a href="" target="_blank"><img src="~/images/esri1.png" /></a></div>
                        <div class="dws-badge"><a href="http://hwbot.org/user/swarthack/" target="_blank"><img src="~/images/hwbot.png" /></a></div>
                        <div class="dws-badge fa-stack"><i class="fa fa-stack-1x fa-facebook"></i><i class="fa fa-stack-2x fa-ban"></i></div>
                        <div class="dws-badge fa-stack"><i class="fa fa-stack-1x fa-twitter"></i><i class="fa fa-stack-2x fa-ban"></i></div>


                    </div>
                    <div id="photo-main">
                        <img src="~/resource/media/eks-office.jpg" />
                    </div>
                </div>

                <div id="top-right-bottom">
                    <div id="slide-content">
                        <div id="slide-1" class="slide">
                            <img src="~/resource/media/books.jpg" />
                            <p class="caption simple-caption">These are "Books"! People used to use them for learning and problem solving.</p>
                        </div>

                        <img id="image-2" class="slide-image d-none" src="~/resource/media/profile1.jpg" />
                        <img id="image-3" class="slide-image d-none" src="~/resource/media/rainbowman.jpg" />
                    </div>
                </div>

            </div>

        </div>
        <div id="middle" class="card">
            <div class="quote-container">
                <i class="pin"></i>
                <blockquote class="note yellow">
                    <em>Like what you see???</em> I am currently available for hire. Have been free-lance for a few years and am looking for
                    steady W2 employment. This web-site illustrates just a small sampling of the "skill sets" I offer; as per the purpose of it's inception.
                    Please download my resume and/or CV below, and feel free to contact me directly with any questions. Thanks!
                    <cite class="author" style="margin-top:.1em;margin-right: 20%;">EKS</cite>
                </blockquote>
            </div>
        </div>

        <div id="bottom" class="card">
            <div id="doc-buttons" class="card">
                <button class="btn btn-default" data-toggle="collapse" data-target="#doc-resume">
                    <h4><i class="fa fa-eye"></i> Resume</h4>
                </button>
                <button class="btn btn-default " data-toggle="collapse" data-target="#doc-cv">
                    <h4><i class="fa fa-eye"></i> CV</h4>
                </button>
                <button class="btn btn-default" data-toggle="collapse" data-target="#doc-masters">
                    <h4><i class="fa fa-eye"></i> Master's Thesis <span id="masters-info" class="btn btn-small" data-toggle="popover" role="button"><i class="fa fa-2x fa-info-circle"></i></span></h4>
                </button>
                
            </div>
        </div>
    </div>

    <div id="doc-resume" class="collapse w-100">
        <div class="card w-100">
            <embed class="open-document" src="~/resource/media/Swartling_Eric_Resume.pdf" type="application/pdf" />
        </div>
    </div>

    <div id="doc-cv" class="collapse w-100">
        <div class="card w-100">
            <embed class="open-document" src="~/resource/media/Eric_Kennedy_Swartling.pdf" type="application/pdf" />
        </div>
    </div>

    <div id="doc-masters" class="collapse w-100">
        <div class="card w-100">
            <embed class="open-document" src="~/resource/media/masters.pdf" type="application/pdf" />
        </div>
    </div>

</div>

<script>

    $(document).ready(function () {

        ///
        // No Hardwired content!!!
        //TODO
        $('#masters-info').popover({
            animation: true,
            trigger: 'hover',
            placement: 'auto',
            html: true,
            container: '#contact',
            content: '<h4 class="text-center">Abstract</h4><p>The interaction with and interpretation of digital geographic information are usually complicated ' +
            'and cumbersome tasks. Complex Geographic Information System(GIS) databases and software require ' +
            'highly trained technicians to provide information to non-technical decision makers. The growing needs of ' +
            'community planners along the US/Mexico border demand more immediate access to important geographic ' +
            'information. The problem is compounded by a Spanish/English bilingual environment. This project ' +
            'provides an initial solution with an ArcView2 based geographic user interface. The interface provides the ' +
            'meaningful display and analysis of geographic data. The functionality of the interface focuses on industrial ' +
            'hazardous material release and emergency response planning in the Ambos Nogales US/Mexico border community</p>',
            delay: { "show": 200, "hide": 100 }
        });
    });

    
</script>