<div class="contact h-100">

    <address style="box-shadow:inset;padding:.5em">
        <a class="h4 text-left" href="mailto:swart@hackinc.net" target="_blank"><i class="fa fa-globe fa-2x mr-2 ml-1"></i>Default WebSite.net Core</a><br />
        Salt Lake City, Utah 84121<br />
        <strong>IT Craftsmen -</strong> <a href="https://hackinc.net target="_blank""> at Hack Inc.</a><br />
        <strong>Idea Factory -</strong> <a href="https://newamsterdam.us target="_blank""> New Amsterdam Ltd.</a><br />
        <strong> <a href="https://swartling-family.com" target="_blank"><i class="swart swart-icon" style="font-size:2rem"></i></a> Live Document Archive website - ~10,000 files</strong><br />
        <strong>Website Inception Date:</strong> April 20th, 2017<br />
        <strong>Last Update:</strong> June 28th, 2017<br />
    </address>
    <div>
        <a href="https://www.linkedin.com/in/eric-swartling/" target="_blank"><i class="fa fa-linkedin-square fa-4x"></i></a>
        <a class="pl-2" href="https://github/Swarthack" target="_blank"><i class="fa fa-4x fa-github-square"></i></a>
    </div>

    <div class="quote-container mb-5">
        <i class="pin"></i>
        <blockquote class="note yellow" style="width:auto;margin-left:5%;margin-right:5%;margin-bottom:2rem;font-size:1em;font-style:italic;">
            BTW, FYI and all that...I am looking for work, as some visitors may already know or realize.
            This web-site illustrates just a small sampling of the "skill sets" I offer; as per the purpose of it's inception.
            Please download my resume and/or CV below, and feel free to contact me directly with any questions. Thanks!
            <cite class="author" style="margin-top:.1em;margin-right: 20%;">EKS</cite>
        </blockquote>
    </div>
    <div style="margin-top: 2rem; margin-bottom:1rem">
        <button class="dropdown-toggle" data-toggle="collapse" data-target="#doc-resume" style="margin-left:2em">
            <span class="h4">Open Resume</span>
        </button>

        <button class="dropdown-toggle pull-right" data-toggle="collapse" data-target="#doc-cv" style="margin-right:2em">
            <span class="h4">Open CV </span>
        </button>
    </div>
    <div id="doc-resume" class="collapse">
        <div class="card card-block">
            <embed class="open-document" src="~/data/Swartling,Eric-Resume.pdf" type="application/pdf" />
        </div>
    </div>

    <div id="doc-cv" class="collapse">
        <div class="card card-block">
            <embed class="open-document" src="~/App_Data/Eric-Kennedy-Swartling.pdf" type="application/pdf" />
        </div>
    </div>
</div>