<div id="netcore-error" class="card">
    <div class="card-header">What Did You DO!!!!!!!!!!</div>
    <div class="card-title text-info">Whatever it was, you broke the server...</div>
    <div class="card-img  image-fluid" src="~/Images/cornholio2.jpg"></div>
    <div id="base-exception" class="card-block">
        <div class="card-title text-danger"></div>
        <div class="card-text-wrapper">
            <div class="card-text"> </div>
        </div>
    </div>
    <div id="inner-exception" class="card-block">
        <div class="card-title text-danger"></div>
        <div class="card-text-wrapper">
            <div class="card-text"> </div>
        </div>
    </div>
</div>