@using System.Reflection;
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery antiforgery
@{
    var _ajaxRequestToken = antiforgery.GetAndStoreTokens(Context).RequestToken;
}
@section Header
{
    
    <title>@ViewData["Title"] - Default WebSite.net</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="">
    <meta name="author" content="">

    @*<link rel="canonical" href="https://defaultwebsite.net" />*@
    @*Facebook open graph sdk tags, we dont want to use opengraph*@
    <meta property="og:title" content="Default WebSite.net" />
    <meta property="og:url" content="https://defaultwebsite.net" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="" />
    <meta property="og:type" content="website" />
    <link rel="icon" href="../../favicon.ico">

}

<div id="row-main" class="row no-gutters">
    
    <div id="col-util" class="col-5 h-100">
        <div class="element d-flex h-100 flex-column justify-content-between">
            <div class="inner d-flex h-100 flex-column align-items-center justify-content-center">

                <div class="row no-gutters w-100">
                    <div id="col-util-top" class="col-12 no-gutters">
                        @{ Html.RenderPartial("~/Views/Notepad/NotepadMain.cshtml");}
                    </div>
               </div>

                <div class="row no-gutters w-100">

                    <div id="col-util-bottom" class="col-12 no-gutters">
                        @{ Html.RenderPartial("~/Views/Shared/_Carousel.cshtml");}

                        
                    </div>

                    <div id="footer-scroll">
                        <span>
                            &copy; Eric K. Swartling  @DateTime.Now.Year &mdash;
                            <a href="Html/term-conditions.html" target="_blank">Terms and Condtions of Use </a> &mdash;
                            <a href="Html/conduct.html" target="_blank">Code of Conduct Policy </a> &mdash;
                            <a href="Html/privacy.html" target="_blank">Privacy Policy </a>
                            <span class="text-danger">
                                !!!!!This Is Pre-Release Preview! DefaultWebSiteCore &mdash;
                                @Assembly.GetEntryAssembly().GetName().Version.ToString()!!!!!
                            </span> &rArr;&nbsp;
                        </span>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id="col-main" class="col-7">
        <div class="element d-flex h-100 flex-column justify-content-between">
            <div class="inner d-flex h-100 flex-column align-items-center justify-content-center">
                <div id="main-target-area">
                    @{Html.RenderPartial("~/Views/Home/Welcome.cshtml"); } 
                </div>
            </div>
        </div>
    </div>

</div>


@section JS
{

    <script>
        require(['dws/controller'],
            function (Controller) {

                $(document).ready(function () {
                    Controller.setXsrf(@Json.Serialize(_ajaxRequestToken));
                    
                });
            });

    </script>
        
}
