
@section Header
{
    <title>@ViewData["Title"] - Default WebSite.net</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="">
    <meta name="author" content="">

    @*<link rel="canonical" href="https://defaultwebsite.net" />*@
    @*Facebook open graph sdk tags, we dont want to use opengraph*@
    <meta property="og:title" content="Default WebSite.net" />
    <meta property="og:url" content="https://defaultwebsite.net" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="" />
    <meta property="og:type" content="website" />
    <link rel="icon" href="../../favicon.ico">

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/tether/dist/css/tether.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/css/defaultwebsite.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/css/defaultwebsite.min.css" asp-append-version="true" />
    </environment>
    <script type="text/javascript" src="https://cdn.ywxi.net/js/1.js" async></script>
    

}


<div class="row" id="row-main">

    <div id="col-main" class="col-md-5 well well-lg">

        <div id="row1-main" class="row">
            <div id="col-rundowns" class="col-xs-12">

              @{ Html.RenderPartial("~/Views/Rundowns/Index.cshtml");}
            </div>
        </div>

        <div id="row2-main" class="row">
            <div id="col-carousel" class="col-xs-12">
               @{ Html.RenderPartial("~/Views/Shared/_Carousel.cshtml");}
            </div>
        </div>

        <div id="footer-scroll">
            <span>&copy; @DateTime.Now.Year - Eric Swartling <a href="term-conditions.html">Terms and Condtions of Use </a>  <a href="conduct.html">Code of Conduct Policy</a>  <a href="privacy.html">Privacy Policy</a></span>
        </div>
    </div>

    <div id="col-target-area" class="col-md-7 well well-lg">
        @{Html.RenderPartial("~/Views/Home/Welcome.cshtml"); }
    </div>
</div>


@section Scripts
{
        <environment names="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
            <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
            <script src="~/lib/tether/dist/js/tether.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/lib/almond/almond.js"></script>
            <script src="~/lib/_site/js/lib/pdfobject.js"></script>
            <script src="~/lib/_site/js/lib/video.js"></script>
            <script src="~/lib/_site/js/lib/endless_scroll.js"></script>
            <script src="~/lib/_site/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
            </script>
            <script src="~/js/defaultwebsite.min.js" asp-append-version="true"></script>
        </environment>



    }
