
@section Header
{
    <title>@ViewData["Title"] - Default WebSite.net</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="">
    <meta name="author" content="">

    @*<link rel="canonical" href="https://defaultwebsite.net" />*@
    @*Facebook open graph sdk tags, we dont want to use opengraph*@
    <meta property="og:title" content="Default WebSite.net" />
    <meta property="og:url" content="https://defaultwebsite.net" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="" />
    <meta property="og:type" content="website" />
    <link rel="icon" href="../../favicon.ico">

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/tether/dist/css/tether.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui.css" />
        <link rel="stylesheet" href="~/css/themes/default.css" asp-append-version="true"  />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/tether.css" />
        <link rel="stylesheet" href="~/css/font-awesome.css" />
        <link rel="stylesheet" href="~/css/jquery-ui/jquery-ui.css" />
        <link rel="stylesheet" href="~/css/themes/default.min.css" asp-append-version="true" />
    </environment>  
}

<div class="row no-gutters" id="row-main">
    
    <div id="col-1" class="col-5 h-100">
      
        <div id="top" class="row no-gutters">
            <div id="col-rundowns" class="col-12">
                @{ Html.RenderPartial("~/Views/Rundowns/Rundowns.cshtml");}
            </div>
        </div>

        <div id="bottom" class="row no-gutters">
            <div id="col-carousel" class="col-12">
                @{ Html.RenderPartial("~/Views/Shared/_Carousel.cshtml");}
            </div>
        </div>

        <div id="footer-scroll">
            <span>&copy; @DateTime.Now.Year - Eric Swartling <a href="term-conditions.html">Terms and Condtions of Use </a>  <a href="conduct.html">Code of Conduct Policy</a>  <a href="privacy.html">Privacy Policy</a></span>
        </div>
    </div>

    <div id="col-main" class="col-7 h-100">
        <div class="element d-flex h-100 flex-column justify-content-between">
            <div class="inner d-flex h-100 flex-column align-items-center justify-content-center">
                <div id="target-area" class="card card-block">
                    @{Html.RenderPartial("~/Views/Home/Welcome.cshtml"); }
                </div>
            </div>
        </div>
    </div>
</div>

<environment names="Development">
    <script src="~/lib/_site/dist/js/defaultwebsite.js" asp-append-version="true"></script>

</environment>
<environment names="Staging,Production">
    <script src="~/js/defaultwebsite.min.js" asp-append-version="true"></script>
</environment>

@section JS
{
    <script>

        require(['dws/controller'],
            function (control) {

                $(document).ready(function () {
                    control.test();
                });
            });

    </script>

}
