@using System.Reflection;
@section Header
{
    
    <title>@ViewData["Title"] - Default WebSite.net</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="">
    <meta name="author" content="">

    @*<link rel="canonical" href="https://defaultwebsite.net" />*@
    @*Facebook open graph sdk tags, we dont want to use opengraph*@
    <meta property="og:title" content="Default WebSite.net" />
    <meta property="og:url" content="https://defaultwebsite.net" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="" />
    <meta property="og:type" content="website" />
    <link rel="icon" href="../../favicon.ico">

}

<div class="row" id="row-main">
    
    <div id="col-1" class="col-5 h-100">
        <div class="element d-flex h-100 flex-column justify-content-between">
            <div class="inner d-flex h-100 flex-column align-items-center justify-content-center">

                <div id="top" class="row no-gutters">
                    <div id="col-rundowns" class="col-12">
                        @{ Html.RenderPartial("~/Views/Rundowns/Rundowns.cshtml");}
                    </div>
                </div>

                <div id="bottom" class="row no-gutters">
                    <div id="col-carousel" class="col-12">
                        @{ Html.RenderPartial("~/Views/Shared/_Carousel.cshtml");}
                    </div>
                </div>

                <div id="footer-scroll">
                    <span>
                         &copy; Eric K. Swartling  @DateTime.Now.Year &mdash;
                        <a href="term-conditions.html">Terms and Condtions of Use </a> &mdash;
                        <a href="conduct.html">Code of Conduct Policy </a> &mdash;
                        <a href="privacy.html">Privacy Policy </a>
                        <span class="text-danger">!!!!!This Is Pre-Release Preview! DefaultWebSiteCore &mdash; @Assembly.GetEntryAssembly().GetName().Version.ToString()!!!!!</span> &rArr;&nbsp;
                        @*@{ 
                            var basePath = AppContext.BaseDirectory;
                            var appName = Assembly.GetEntryAssembly().GetName().Name;
                            var appVersion = Assembly.GetEntryAssembly().GetName().Version.ToString();
                        }*@
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div id="col-main" class="col-7 h-100">
        <div class="element d-flex h-100 flex-column justify-content-between">
            <div class="inner d-flex h-100 flex-column align-items-center justify-content-center">
                <div id="target-area">
                    @{Html.RenderPartial("~/Views/Home/Welcome.cshtml"); } 
                </div>
            </div>
        </div>
    </div>

</div>



@section JS
{
    <script>
        require(['dws/controller'],
            function (control) {

                $(document).ready(function () {
                    //control.initKO();
                });
            });
    </script>

}
