
<div class="well well-lg sandbox">
    <ul class="nav navbar-nav navbar-inverse">
        <li><a class="dws-sand-link" href="/" data-target-view="About"></a></li>
        <li><a class="dws-sand-link" href="/" data-target-view="Contact">File Ops</a></li>
        <li><a class="dws-sand-link" href="/" data-target-view="Blog">OpenXML</a></li>
        <li><a class="dws-sand-link" href="/" data-target-view="KnockOut">Knockout.js!</a></li>
        <li><a class="dws-sand-link" href="/" data-target-view="Ack">Schrameworks</a></li>
    </ul>
    <div id="banner-main">
        <img src="~/Images/under_construction.gif" />
    </div>
    <h1 class="alert-danger text-center">We are packing up and moving!!!</h1>
    <h3 class="alert-danger text-center">Sandbox toys being migrated to ASP.NET Core.</h3>
    <h2 class="alert-danger text-center">Check back soon!</h2>
    @*<div id="file-upload" title="OpenXMLdocument Upload" hidden>
        @{Html.RenderAction("Upload", "FileOps"); }
    </div>*@
</div>
