<div class="sandbox">
    <ul class="navbar-nav">
        <li><a class="dws-sand-link" href="" data-target-view="About"></a></li>
        <li><a class="dws-sand-link" href="" data-target-view="FileOps">File Operations/OpenXML</a></li>
        <li><a class="dws-sand-link" href="" data-target-view="Knockout">Knockout.js!</a></li>
        <li><a class="dws-sand-link" href="" data-target-view="Schrameworks">Schrameworks</a></li>
    </ul>
    @*<div>
        <img src="~/Images/under_construction.gif" />
    </div>*@
  
    @*<div id="file-upload" title="OpenXMLdocument Upload" hidden>
        @{Html.RenderAction("Upload", "FileOps"); }
    </div>*@
</div>
