<div id="welcome" class="card">
    
     <div class="card-header text-center">
        <div class="dws-brand">
            <span id="title">Welcome to Default Web Site</span><span id="net">.net </span><span id="core">Core</span>
        </div>
    </div>
    
    <div class="card-block">
        <div class="h4 dws-text text-left ml-3 mt-3"><span id="title">Default Web Site</span><span id="net">.net </span><span id="core">Core</span> is not...</div>
        <div class="h4 text-right mr-5"><em>...well, exactly &quot;Default&quot; in nature...</em> </div>
        <div class="h5 dws-text side-note">
                Although the outward appearance does not reflect a "Default" nature, <span id="title">Default Web Site</span><span id="net">.net </span><span id="core">Core</span> implements many standard patterns and practices.
                The idea is to have a little fun and not be so boooorrrring :-P
        </div>
        <div class="h3 dws-text text-center"><span id="title">Default Web Site</span><span id="net">.net </span><span id="core">Core</span> was born from necessity</div>
        <div class="h5 side-note">
                I never imagined myself as a "Blogger" type. I don't really do "Social Media", besides developing their integrations; and I didn't feel
                like joining one of hundreds of sites, or some vanilla blog to "publish" my activities.
        </div>
        <h5 class="text-center"><strong>It just didn&#39;t seem right&hellip;<em> and It didn't <em>feel</em> right either...</em></strong></h5>
        <h2 class="exclamation">So what do I do?!?!</h2>
        <h4 class="exclamation mb-3">
            I create my own multi-service Cloud and a personal Default Web Site.net Core!!! What else??? 
        </h4>
        <h4 class="text-left">A couple things to look for...</h4>
        <h5 class="text-left"><em><strong>Rundowns, The SandBox and GitHub Repositories</strong></em></h5>
        <p class="text-left">
            Rundowns are my unauthoritative casual white-papers. Covering whatever topics I may be facing.
            Usually dealing with the function and design of the site itself, or the Scalable Document Archive Server.
            Some rundowns may reference a corresponding GitHub repository, indicated by the GitHub kitty-cat.
            The entire code base of DefaultWebsite.net Core is statically mirrored at GitHub from Visual Studio Team Foundation Services.
        </p>
        <h4>The Sandbox</h4>
        <p>
            The Sandbox is where the Live-Action happens!&nbsp; Sandbox Toys usually stem from something topical I am working on.
            Checkout the Sandbox for current and upcoming tools. This will always be changing...
        </p>
    </div>

</div>
