<div class="welcome h-100">
    <h1 class=text-center>Welcome to Default WebSite<span style="font-size:small">.net </span><span style="font-size:2rem;color:crimson"><em><strong>Core</strong></em></span></h1>
    <h3 class="text-left"><em>Default Website.net Core is not...well &quot;Default&quot;, as one may surmise by initial impressions. That is the intent..</em></h3>
    <h3 class="text-center"><em>Default Website<span>.net</span> was born from necessity.</em></h3>
    <p class="text-center">
        I never imagined myself as a "Blogger" type and &quot;on-line&quot; self-promotion was never necessary
        or desired. I don't really do "Social Media", besides developing their integrations; and I didn't feel like joining a CodeProject
        like site, or some vanilla blog to "publish" my activities. It just didn&#39;t seem right, feel right...
    </p>
    <p class="text-center">
        <strong><em><span style="font-size:1.5rem;font-style:italic">So what do I do?!?! </span></em></strong>
    </p>
    <p class="text-left">
        I create my own multi-service Cloud, as illustrated by DefaultWebsite.net Core!!! See &quot;About&quot; for some of the specs.
    </p>
    <p class="text-left">
        There is a lot going on here. A couple things to look for...
    </p>
    <p style="">
        <em><strong>Rundowns and GitHub Repositories</strong></em>
    </p>
    <p class="text-left">
        Rundowns are my unathoritive casual white-papers. Covering whatever topics I may be facing. Usually dealing with the function and design of the site itself, or the Scalable Document Archive Server. Some rundowns may reference a cooresponding GitHub respositry, indicated by the GitHub kitty-cat. The entire code base of DefaultWebsite.net Core is statically mirrored at GitHub from Visual Studio Team Foundatoin Services.
    </p>
    <p class="text-left">
        The "Rundowns", pertinent GitHub repositories and the site functionality itself are the primary focus.
        But there are a few other things to look for.
    </p>
    <h4>The Sandbox</h4>
    <p>
        The Sandbox is where the Live-Action happens!&nbsp; Sandbox Toys usually stem from something topical I am working on.
        Checkout the Sandbox for current and upcoming tools. This will always be changing...
    </p>
</div>
