<div class="welcome h-100">
    <h1 class="text-center">Welcome to Default WebSite<span style="font-size:small">.net</span></h1>
    <h3 class="text-center"><em>Default Website<span>.net</span> was born from necessity.</em></h3>
    <text class="text-center">
            I never imagined myself as a "Blogger" type and self-promotion was never necessary 
            or desired. I don't really do "Social Media" and didn't feel like joining a CodeProject 
            like site to "publish" my activities. So what do I do? I create my own social media outlet right here on
            DefaultWebsite.net Core!!!
    </text>
    <text class="text-center">
        The "Rundowns", pertinent GitHub repositories and the site functionality itself are the primary focus.
        But there are a few other things to look for.</text>
    <h4>Sandbox</h4>
    <text>
        The Sandbox hosts miscellaneous live action functionality.
        These usually stem from something topical I am working on.
        See Sandox for access to current tools and info on upcoming tools.
    </text>
    <h4>Discussions</h4>
    <text class="text-center">
        Discussions use an embedded BlogEngine.NET 3.3.5. to provide topical posts and comments. 
        Default Website<span class="auto-style4">.net</span> is not intended to be a “Blog”, 
        but more of a mechanism to provide topical posts on the published articles and architecture/functionality 
        of the site itself. As well as providing the opportunity for peer feedback.
        The integration of BlogEngine.NET will be refined as the site matures. See “Discussions” for more info…
    </text>
    
    <br /><br />
    <h4 class="text-center">
        Is there something you would like to see? Let me know…
    </h4>
</div>