<div id="welcome" class="card">
    <div class="card-header text-center">
        <div class="dws-brand"><span class="title">Welcome to Default Web Site</span><span class="net">.net </span><span class="core">Core</span></div>
    </div>
    <div class="h4 dws-text text-left ml-3 mt-3"><span class="title">Default Web Site</span><span class="net">.net </span><span class="core">Core</span> is not...</div>
    <div class="h4 text-right mr-5"><em>...well, exactly <strong>"Default"</strong> in nature...</em></div>
    <div class="h5 dws-text mussing">Although the outward appearance does not reflect a <em><strong>"Default"</strong></em> nature, <span class="title">Default Web Site</span><span class="net">.net </span><span class="core">Core</span> implements many standard patterns and practices. The idea is to have a little fun and not be so boooorrrring <img src="https://html5-editor.net/tinymce/plugins/emoticons/img/smiley-cool.gif" alt="cool" /></div>
    <p class="discussion"><span class="dws-text"><span class="h5 title">Default Web Site</span><span class="h5 net">.net </span><span class="h5 core">Core</span></span> was born from necessity. Its primary goal is to utilize and demonstrate the "Latest &amp; Greatest" <strong><em>Microsoft SqlServer 2017&trade;</em></strong> and <strong>ASP.Net Core&trade; 2.0</strong> family of technologies. Also included in this primary purpose is the exploration into the many varieties and combinations of <strong><em>"Client-Side"</em></strong> technologies and <em><strong>"Frameworks"</strong></em>.</p>
    <div class="mussing">I never imagined myself as a "Blogger" type. I don't really do "Social Media", besides developing their integrations; and I didn't feel like joining one of hundreds of sites, or some vanilla blog to "publish" my activities.</div>
    <div class="text-shift"><span class="text-1">It just didn't seem right&hellip;</span> <span class="text-2">and It didn't feel right either...</span></div>
    <div class="exclamation">
        <h3>So what do I do?!?!</h3>
        <h4>I create my own multi-service Cloud and a personal Default Web Site.net Core!!!</h4>
        <h3>What Else?!?!</h3>
    </div>
    <p class="emphasis">A couple things to look for...</p>
    <p class="sub-heading">Note Book</p>
    <p class="discussion">Notebook contains my unauthoritative notes, discussions and casual observations. Covering whatever topics I may be facing. Usually dealing with the function and design of the site itself, or <span class="adaals-text">A Document Archive &amp; Library Server.</span> Some Notes may reference a different GitHub repository, indicated by the GitHub kitty-cat</p>
    <p class="sub-heading">Sand Box</p>
    <p class="discussion">The Sand Box is where the Live-Action happens!&nbsp; Sand Box Toys usually stem from something topical I am working on. Checkout the Sandbox for current and upcoming tools. This will always be changing...</p>
    <p class="sub-heading">GitHub Repository</p>
    <p class="discussion"><span class="dws-text"> <span class="title">Default Web Site</span><span class="net">.net </span><span class="core">Core</span> </span> is mirrored on GitHub!! The entire code base is statically mirrored at GitHub from production Visual Studio Team Foundation Services. Look for the <i class="fa fa-github"></i> Kitty and your set!!!</p>
</div>