<div id="sandpit-docs">
    <div id="sandpit-header" class="card-header">
        <div class="card-title">Welcome to the Sandpit</div>
    </div>
    
    <div id="sandpit-wrapper">

        <div class="list-group">
            <div id="sandpit-about" class="sandpit-doc card">
                <div class="card-title">Playing in the Sandpit</div>
                <div class="card-text expand">
                    @{ Html.RenderPartial("Content/About.cshtml"); }
                </div>
                <div class="card-footer text-right"><a class="sandpit-toggle-text">Less...</a></div>
            </div>

            <div id="sandpit-comments-mgr" class="sandpit-doc card">
                <div class="card-title">A Comments Manager</div>
                <div class="card-text">
                    @{ Html.RenderPartial("Content/CommentsManager.cshtml"); }
                </div>
                <div class="card-footer text-right"><a class="sandpit-toggle-text">More...</a></div>
            </div>

            <div id="sandpit-fileio" class="sandpit-doc card">
                <div class="card-title">File Operations</div>
                <div class="card-text">
                    @{ Html.RenderPartial("Content/FileIo.cshtml"); }
                </div>
                <div class="card-footer text-right"><a class="sandpit-toggle-text">More...</a></div>
            </div>

            <div id="sandpit-arcgis" class="sandpit-doc card">
                <div class="card-title">Geographic Information Systems (GIS)</div>
                <div class="card-text">
                    <p> ESRI ArcGis API integrations from the Default WebSite.net ArcGIS Server...</p>
                    @{ Html.RenderPartial("Content/ArcGis.cshtml"); }
                </div>
                <div class="card-footer text-right"><a class="sandpit-toggle-text">More...</a></div>
            </div>

            <div id="sandpit-advworks" class="sandpit-doc card">
                <div class="card-title">World Importers</div>
                <div class="card-text">
                    <p> Going Data-First, and whatever else it takes with a few MS sample databases... </p>
                    @{ Html.RenderPartial("Content/AdventureWorks.cshtml"); }
                </div>
                <div class="card-footer text-right"><a class="sandpit-toggle-text">More...</a></div>
            </div>



            <div id="sandpit-hopper" class="sandpit-doc card">
                <div class="card-title">What's in the Hopper</div>
                <div class="card-text">
                    @{ Html.RenderPartial("Content/Hopper.cshtml"); }
                    <p>What may be coming. Want to see something? Have a suggestion?</p>
                </div>
                <div class="card-footer text-right"><a class="sandpit-toggle-text">More&hellip;</a></div>
            </div>
        </div>

    </div>
</div>
 