<div id="sandbox-about">
    <div class="card">

        <div class="card-header">
            <div class="card-title">Playing in the Sandbox</div>
        </div>

        <div id="about-wrapper" class="card-block list-group">

            <div class="card">
                <div class="card-title">What is the Sandbox?</div>
                <div class="card-text">
                    <p>Witty Banter...</p>
                </div>
                <div class="card-footer text-right"><a href="">More&hellip;</a></div>
            </div>

            <div class="card">
                <div class="card-title">Comments Manager</div>
                <div class="card-text">
                    <p> How cool it is and how its works</p>
                </div>
                <div class="card-footer text-right"><a href="">More&hellip;</a></div>
            </div>

            <div class="card">
                <div class="card-title">File Operations</div>
                <div class="card-text">
                    <p>Upload files and display OpenXML</p>
                </div>
                <div class="card-footer text-right"><a href="">More&hellip;</a></div>
            </div>

            <div class="card">
                <div class="card-title">Adventure Works</div>
                <div class="card-text">
                    <p> Fun with this fairly complex dataset!!!</p>
                </div>
                <div class="card-footer text-right"><a href="">More&hellip;</a></div>
            </div>

            <div class="card">
                <div class="card-title">Mapping &ndash; Google Maps&trade;&ndash;ESRI (if they have an api for opensource developers....?)&trade; and </div>
                <div class="card-text">
                    <p> Where are you?</p>
                </div>
                <div class="card-footer text-right"><a href="">More&hellip;</a></div>
            </div>

            <div class="card">
                <div class="card-title">What's in the Hopper</div>
                <div class="card-text">
                    <p>What may be coming. Want to see something? Have a suggestion?</p>
                </div>
                <div class="card-footer text-right"><a href="">More&hellip;</a></div>
            </div>

        </div>
    </div>
    @*<div class="card-footer">Clever footer.... <i class="fa fa-border fa-angle-double-up fixed-bottom"></i>  </div>*@
</div>