<div id="sandbox-about">
    <div class="card">

        <div class="card-header">
            <div class="card-title">Playing in the Sandbox</div>
        </div>

        <div id="about-wrapper" class="card-block list-group">

            <div class="card">
                <div class="card-title">What is the Sandbox?</div>
                <div class="card-text">
                    <p>Witty Banter...</p>
                </div>
                <div class="card-footer text-right"><a href="">More&hellip;</a></div>
            </div>

            <div class="card">
                <div class="card-title">A Comments Manager</div>
                <div class="card-text">
                    <p>A KnockoutJS One &lArr;&rArr; Many for managing parent-child records...</p>
                </div>
                <div class="card-footer text-right"><a href="">More&hellip;</a></div>
            </div>

            <div class="card">
                <div class="card-title">File Operations</div>
                <div class="card-text">
                    <p>Upload files and display OpenXML</p>
                </div>
                <div class="card-footer text-right"><a href="">More&hellip;</a></div>
            </div>

            <div class="card">
                <div class="card-title">Adventure Works</div>
                <div class="card-text">
                    <p> Going Data-First with this fairly complex, semi-forgotten dataset!!!</p>
                </div>
                <div class="card-footer text-right"><a href="">More&hellip;</a></div>
            </div>

            <div class="card">
                <div class="card-title">Geographic Information Systems (GIS)</div>
                <div class="card-text">
                    <p> ESRI ArcGis API integrations from the Default WebSite.net ArcGIS Server...</p>
                </div>
                <div class="card-footer text-right"><a href="">More&hellip;</a></div>
            </div>

            <div class="card">
                <div class="card-title">What's in the Hopper</div>
                <div class="card-text">
                    <p>What may be coming. Want to see something? Have a suggestion?</p>
                </div>
                <div class="card-footer text-right"><a href="">More&hellip;</a></div>
            </div>

        </div>
    </div>
    @*<div class="card-footer">Clever footer.... <i class="fa fa-border fa-angle-double-up fixed-bottom"></i>  </div>*@
</div>