<div id="sandbox">
    <div class="text-center">The Sandbox</div>
    <ul class="nav nav-pills">
        <li class="nav-item active">
            <a class="sand-link" data-target="#sandbox-area" data-target-controller="Sandbox" data-target-action="SandboxItems">About</a>
        </li>
        <li  class="nav-item">
            <a class="sand-link" data-target="#sandbox-area" data-target-controller="Comments" data-target-action="Main">Comments Manager</a>
        </li>
        <li class="nav-item">
            <a class="sand-link" data-target="#sandbox-area" data-target-controller="Sandbox" data-target-action="UnderConstruction" data-target-id="FileOps">File Operations</a>
        </li>
        <li class="nav-item">
            <a class="sand-link" data-target="#sandbox-area" data-target-controller="Sandbox" data-target-action="UnderConstruction" data-target-id="AdventureWorks">Adventure Works</a>
        </li>        
        <li class="nav-item">
            <a class="sand-link" data-target="#sandbox-area" data-target-controller="Sandbox" data-target-action="UnderConstruction" data-target-id="ArcGISServer">ArcGIS Server</a>
        </li>
        <li class="nav-item" dropdown" id="other-dropdown-item">
            <a class="dropdown-toggle" data-toggle="dropdown">Other...</a>
            <div id="other" class="dropdown-menu ">
                <a class="sand-link dropdown-item" data-target="#sandbox-area" data-target-controller="Sandbox" data-target-action="UnderConstruction" data-target-id="demo1">Demo 1</a>
                <a class="sand-link dropdown-item" href="">Item 2</a>
            </div>
        </li>
    </ul>
    <div id="sandbox-area">
        @{ Html.RenderPartial("SandboxItems.cshtml");}
    </div>
   
</div>

<script>
    require(['dws/sandbox'], function (Sandbox) {
        $(function () {
            Sandbox.observeKo(true);
        });
    });
</script>
