<div class="sandbox">
    <div class="text-center">The Sandbox</div>
    <ul class="nav">
        <li>
            <a class="sand-link active" href="" data-target="#sandbox-area" data-target-controller="Sandbox" data-target-action="About">About</a>
        </li>
        <li >
            <a class="sand-link" data-target="#sandbox-area" data-target-controller="Comments" data-target-action="Main">'Comments Manager'</a>
        </li>
        <li>
            <a class="sand-link" data-target="#sandbox-area" data-target-controller="Sandbox" data-target-action="UnderConstruction" data-target-id="FileOps">'File Operations'</a>
        </li>
        <li>
            <a class="sand-link" data-target="#sandbox-area" data-target-controller="Sandbox" data-target-action="UnderConstruction" data-target-id="AdventureWorks">'Adventure Works'</a>
        </li>        
        <li>
            <a class="sand-link" data-target="#sandbox-area" data-target-controller="Sandbox" data-target-action="UnderConstruction" data-target-id="ArcGISServer">'ArcGIS Server'</a>
        </li>
        <li class="sand-link dropdown" id="other-dropdown-item">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Other...</a>
            <div id="other" class="dropdown-menu ">
                <a class="dropdown-item" href="">Item 1</a>
                <a class="dropdown-item" href="">Item 2</a>
            </div>
        </li>
    </ul>
    <div id="sandbox-area">
        @{ Html.RenderPartial("About.cshtml");}
    </div>
</div>

<script>
    require(['dws/sandbox'], function (Sandbox) {
        $(function () {
            Sandbox.observe(true);
        });
    });
</script>
