
 <p>The sandbox is a place for you to play with live on-line demos!</p>
<p>Grab your Tonka truck, dig in, and get your hands dirty! see what you can break.</p>
<p style="text-align: center;">Just don't kick sand at the server! You wouldn't want to wake the admin.</p>
<p>The SandBox not only features the client-side framework design and functionality, but also intends to illustrate the Default WebSite.net's VPS Server services and capabilities.</p>
<p>The nature of all SandBox server interactions consist of "User Session" transactions. In other words, only <strong>you</strong> will ever see your changes. You are interacting with a number of live services, including</p>
<ul>
    <li>Microsoft 2016 Sql Server data and client services,</li>
    <li>Esri Enterpris ArcGis Server Rest services,</li>
    <li>Microsoft .Net Core MVC and Web API services</li>
</ul>
<p>The Server never actually saves anything. Everything Rolls-Back on application exit. Don't believe? Start with Comments Manager.&nbsp;</p>
<p>Browse the different demo descriptions, or jump right in from the main Sandbox navigation bar.</p>
<p><em>Proceeding with any Sandbox demos assumes you have read and agree to both the Code of Conduct policy and Terms of Use Agreement.</em></p>
<p>Have fun!!</p>
<p>Comments coming soon!!! But still feel free to contact me. See Contacts...</p>
