<div id="dws-browser-version" class="ml-5 mr-5">
    <p class="h1">
        An apology from the management...
    </p>
    <div class="disclaimer">
        <p class="h3 text-center">
            The technologies demonstrated here are cutting edge, and well, err, uh...
        </p>
        <p class="h2 text-center">
            Your browser is not compatible!
        </p>
    </div>
        
    <div class="h2">Hey, Why Not!?</div>

    <p class="discussion">
        <span class=" emphasis-text"> Honestly because</span> they don't apply the <span class="emphasis-brand">Html5, Javasript and CSS</span> standards equally.
        And trying to deal with the exceptions and figuring out why is exhausting! Even with just the so-called simple standards, it gets all squirley because everybody wants the standards
        but also wants their own platforms and eminent control of the advertising dominion...
    </p>
    <div class="dws-note">
        <h3>Supported browsers found here...</h3>
        <a href="https://www.google.com/chrome/" target="_blank">Chrome Download</a> <br />
        <a href="https://www.mozilla.org/firefox" target="_blank">Firefox Download</a>
    </div>
    
   
    <p class="official"> Thank You for understanding! - The Management <br/>
        <a href="/Home/Index?bypass=true">continue with your current browser</a>
    </p>

</div>

<div id="dws-browser-size" class="ml-5 mr-5">
    <p class="h1">
        An apology from the management...
    </p>
    <div class="disclaimer">
        <p class="h3 text-center">
            The technologies demonstrated here are cutting edge, and well, err, uh...
        </p>
        <p class="h2 text-center">
            Need a larger form factor than your device offers, this is not an App!
        </p>
        <p class="h3 text-center">
            It could be though...
        </p>
    </div>
</div>