@using System.IO;
<nav id="navbar-main" class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse clearfix">
    <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/"><i class="fa fa-globe mr-3"></i>Default WebSite<span class="text-left">.net</span></a>
    
    <div class="collapse navbar-collapse mr-4" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
            @*<li id="siteseal">
                <script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=qsbIQ45pBjOhL4IIkKzVOfkTX6u3TjXNVOLgjS2im95qBeEDn91SQoNo6aBC"></script>
            </li>*@
            <li class="nav-item"><a class="nav-link" href="/" data-target-view="About">About</a></li>
            <li class="nav-item"><a class="nav-link" href="/" data-target-view="Contact">Contact</a></li>
            <li class="nav-item"><a class="nav-link" href="/" data-target-view="Blog">Discussion</a></li>
            <li class="nav-item"><a class="nav-link" href="/" data-target-view="Sandbox">Sandbox</a></li>
            <li class="nav-item"><a class="nav-link" href="/" data-target-view="Ack">Acknowledgements</a></li>
            <li class="nav-item dropdown" id="theme-dropdown-item">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">@ViewData["Theme"]Default</a>
                <div id="theme-switcher" class="dropdown-menu ">
                    @foreach (var file in Directory.GetFiles(Host.WebRootPath + "/css/themes","*.css,!*.min.css"))
                    {
                        var name = System.IO.Path.GetFileNameWithoutExtension(file);
                        //name = name.Substring(0, name.IndexOf("."));
                        <a class="dropdown-item" href="/settheme?theme=@name">@name</a>
                    }

                  
                </div>
            </li>
        </ul>
    </div>
</nav>
