@using System.IO;
<nav id="navbar-main" class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
   
    <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <span id="myNavHeader">
        <i class="swart core-icon"></i>
        <a href="/">Default WebSite<span id="nav-span1" class="text-left">.net</span></a>
        <span id="nav-span2" class="text-left navbar-text"><em>Core</em></span>

    </span>
    <div id="siteseal" class="ml-5"> 
        <script async type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=qsbIQ45pBjOhL4IIkKzVOfkTX6u3TjXNVOLgjS2im95qBeEDn91SQoNo6aBC"></script>
    </div>
    <div class="collapse navbar-collapse mr-4" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
            <li><a class="nav-link" href="" data-target="#target-area" data-target-id="About">About</a></li>
            <li><a class="nav-link" href="" data-target="#target-area" data-target-id="Contact">Contact</a></li>
            <li><a class="nav-link" href="" data-target="#target-area" data-target-id="Comments">Comments</a></li>
            <li><a class="nav-link" href="" data-target="#target-area" data-target-controller="Sandbox" data-target-action="Main">Sandbox</a></li>
            <li><a class="nav-link" href="" data-target="#target-area" data-target-id="Ack">Acknowledgements</a></li>
            <li class="nav-item dropdown" id="theme-dropdown-item">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">@ViewData["ThemeName"]</a>
                <div id="theme-switcher" class="dropdown-menu ">
                    @foreach (var file in Directory.GetFiles(Host.WebRootPath + "/css/themes", "*.css,!*.min.css"))
                    {
                        var name = System.IO.Path.GetFileNameWithoutExtension(file);
                        //name = name.Substring(0, name.IndexOf("."));
                        <a class="dropdown-item" href="/Home/SetTheme?name=@name">@name</a>
                    }
                </div>
            </li>
        </ul>
    </div>
</nav>
