
<script id="sources-template" type="text/html">
    <tr data-bind="attr: {id: id}">
        <td data-bind="text: sourceName"></td>
        <td data-bind="text: description"></td>
    </tr>
</script>

<script id="comments-template" type="text/html">
    <div class="comment card" data-bind="attr: { id: id }">
        <div id="tools" class="card-header">
            <a id="comment-edit" class="btn disabled"><i class="fa fa-edit"></i></a>
            <a id="comment-delete" class="btn disabled"><i class="fa fa-trash"></i></a>
            <a id="comment-details" class="btn disabled"><i class="fa fa-list"></i></a>
        </div>

        <div id="comment-context" class="card-block">
            <div class="card-title" data-bind="text: title"></div>
            <div class="card-text-wrapper">
                <div class="card-text" data-bind="text: content"></div>
            </div>
        </div>

        <div id="comment-info" class="card-header" >
            <div class="author"><span data-bind="text: author"></span></div>
            <img id="gravatar" class="img-fluid" src="~/images/bot1.jpg">
            <div id="datetime"><span data-bind="text: datetime"></span></div>
        </div>
    </div>
</script>

<script id='thumbnails-template' type="text/html">
    <li class="thumbnail" data-bind="attr: { 'data-api': fileApi, 'data-target': fileTarget  }">
        <img data-bind="attr: { src: thumbnailUrl }" />
        <h6 class="caption" data-bind="text:friendlyName"></h6>
    </li>
</script>

<script id="selected-upload-files" type="text/html">
    <div id="file-info-container" class="card">
        <div class="upload-file-thumb">
            <img data-bind="attr: { src : file.filecontent }"/>
        </div>
        <div class="upload-file-info">
            <a class="upload-file-delete btn"><i class="fa fa-trash"></i></a>
            <div class="file-name" data-bind="text: file.name"></div>
            <div class="file-details" data-bind="text: file.size"></div>
            <div class="file-details" data-bind="text: file.type"></div>
            <div class="file-error"></div>
        </div>
    </div>
</script>

<div id="file-ops-client">
    <form id="file-upload" enctype="multipart/form-data" method="post">
       
        <div id="upload-input">
            <div class="card-header">
                <div class="card-title">Select or Drop Files</div>
                <a id="file-select" role="button" title="Browse Files...">
                    <i class="fa fa-border fa-folder-open"></i>
                    <input class="form-control" id="file-input" type="file" name="files" multiple data-bind="attr { accept: mimeTypes}" />
                </a>
            </div>
            <div id="file-upload-drop">Drop files here</div>
        </div>
        <div id="upload-description">
            <label for="description">Upload Description...</label>
            <textarea id="description" class="form-control" name="description" rows="2"></textarea>
            <span id="description-validate" class="text-danger"></span>
        </div>
        <div class="progress upload-progress">
            <div id="file-progress" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                <span></span>
            </div>
        </div>
        <div id="upload-header">
            <div class="card-title">Selected Files for Dws Cloud Upload</div>
            <button id="upload-submit" type="submit" data-bind="visible: showFileUpload">
                <i class="fa fa-cloud-upload"></i>
            </button>
        </div>
        <div id="file-upload-wrapper">
            <div id="file-upload-list" data-bind="template: { name: 'selected-upload-files', foreach: uploadFilesInfo, as: 'file'}"> No Files Selected</div>
        </div>
        <div id="files-count" class="caption text-right" data-bind="text: uploadFilesCount"></div>
    </form>
</div>

<div id="modal-action-template" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title"></div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="target-modal" class="modal-body">
            </div>
        </div>
    </div>
</div>

<div id="modal-image-exif" class="modal fade" role="dialog">
    <div class="modal-dialog">

        Modal content
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">Dismiss</button>
                <h4 class="modal-title">Image Details</h4>
            </div>
            <div class="modal-body">
                <div class="image-exif">
                    <ul data-bind="template: {name:'exifTemplate', foreach: exif}"></ul>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Dismiss</button>
            </div>
        </div>

    </div>
</div>

<script id='exifTemplate' type="text/html">
    <li data-bind="text: tag, value: value"></li>
</script>

<script id="xhr-errors" type="text/html">
    <li>i am an error</li>
    <li data-bind="value: property"></li>
</script>

<div id="ajax-error" title="Communication Breakdown!">
    <div class="card-header" data-bind='text: errorMsg'>This is an error message</div>
    <div class="card-title" data-bind='text: errorStatus'>I am the status</div>
    <div class="card-block" data-bind='text: errorData'>I am the xhr</div>
    <ul class="list-group" data-bind="template: { name: 'xhr-errors', foreach: errorData, as: 'property'}">I am the error list</ul>
</div>
