<div class="paper-wrapper">
    <span class="text-info text-muted float-right">July-2017</span>
    <div class="paper">
        <h5> A Default WebSite.net Core </h5>
        <p>
            This missive will go on a bit as I add content and detail. 
            The purpose here is to run-down the basic set-up, architecture and different patterns and practices investigated 
            and demonstrated by Default WebSite.net. Although the outward appearance does not reflect a &quot;Default&quot; nature, 
            Default WebSite.net Core implements many standard patterns and practices. Especially Bootstrap 4 alpha&hellip;
            The idea is to have a little fun and not be so boooorrrring :-P I am going to cover these topics, amoung others.
            Here is a fun challenge &mdash; Try to find all the spelling errors 8-P! (will scrub the site soon, and talk about VS 2017
            extensions that don't work yet, or correctly anyway?!)
        </p>

        <p class="text-left"><strong>ASP.NET Core Project Overview</strong> - IConfigurationRoot, IServiceCollection, IHostingEnvironment, 
        UserManager, SignInManger, View Dependency Injections,&hellip;</p>

        <p><strong>Application Architecture Basics</strong>- Models, Controllers, Views&hellip;</p>
        <p><strong>Bootstrap 4 alpha</strong> -Bootswatch, FontAwesome&hellip;</p>
        <p><strong>Jquery/Javascript</strong>- Almond, Ajax/HXR/Json, KnockoutJS, JQuery UI&hellip;</p>
        <p><strong>Application Data</strong> Account Manager, Sandbox, Adventure Works&hellip;</p>
        <p><strong>ArcGIS Enterprise Server and application API's</strong></p>
        <p><strong>Mobile form factors and serving mobile requests and data.</strong></p>
        <p><strong>.........................</strong></p>
    </div>
</div>