<div id="rundowns" class="card">
    <div class="card-header">
        <h2 class="text-center">Featured Rundowns <i class="fa fa-info-circle"></i></h2>
    </div>
    <div class="card-block">
        <ul id="rundown-content" class="list-group">
            <li id="aspnet" class="h4 list-group-item rundown" data-target-view="~/Views/Rundowns/AspNet.cshtml">Scalable Document Archive Web Server using ASP.NET 4.6 MVC5</li>
            <li id="netcore" class="h4 list-group-item rundown" data-target-view="~/Views/Rundowns/NetCore.cshtml"> Migrating Document Archive Web Server to ASP.NET Core </li>
            <li id="winforms" class="h4 list-group-item rundown" data-target-view="~/Views/Rundowns/WinForms.cshtml"><i class="fa fa-github" style="font-size:1.5rem"></i> Windows Forms Still Matter!!! </li>
            <li id="frameworks " class="h4 list-group-item rundown" data-target-view="~/Views/Rundowns/SchrameWorks.cshtml">Frameworks? Schrameworks! </li>
        </ul>
    </div>
</div>