@model DefaultWeb.Models.TargetView
 <div class="rundown-document">
    @if (!String.IsNullOrEmpty(Model.Name))
    {
        Html.RenderPartial(String.Format("~/Views/Rundowns/{0}", Model.Name));
    }
    else
    {
        Html.RenderPartial("~/Views/Shared/_NoContent.cshtml");
    }
        
</div>
