<div id="rundowns">
    <div class="card">
        <div class="card-header">
            <div class="text-primary">Featured Rundowns <i class="fa fa-info-circle"></i></div>
        </div>
        <div class="card-block">
            <ul id="rundown-content" class="list-group">
                <li id="rundown" class="list-group-item" data-target-view="~/Views/Rundowns/AspNet.cshtml">Scalable Document Archive Web Server using ASP.NET 4.6 MVC5</li>
                <li id="rundown" class="list-group-item" data-target-view="~/Views/Rundowns/NetCore.cshtml"> Migrating Document Archive Web Server to ASP.NET Core </li>
                <li id="rundown" class="list-group-item" data-target-view="~/Views/Rundowns/WinForms.cshtml"><i class="fa fa-github" style="font-size:1.5rem"></i> Windows Forms Still Matter!!! </li>
                <li id="rundown" class="list-group-item" data-target-view="~/Views/Rundowns/SchrameWorks.cshtml">Frameworks? Schrameworks! </li>
            </ul>
        </div>
    </div>
</div>