@model DefaultWeb.Models.Entities.CodeFile
<div class="panel panel-default clearfix" align="center" style="max-height:20em;margin-left:5%;margin-right:5%">
    <div class="panel-heading clearfix">
        <div class="panel-title text-center">
            <div class="text">@Model.Title</div>
        </div>
    </div>
    <div class="panel-body" align="left" style="overflow:auto;max-height:15em">
        @Html.Raw(File.ReadAllText(Server.MapPath(Model.Name)))
    </div>
</div>