@model DefaultWeb.Models.DefaultWebSite.TargetView
 <div class="notepad-document">
    @if (!String.IsNullOrEmpty(Model.Name))
    {
        Html.RenderPartial(String.Format("~/Views/Notepad/Notes/{0}", Model.Name));
    }
    else
    {
        Html.RenderPartial("~/Views/Shared/_NoContent.cshtml");
    }
        
</div>
