<div id="comments-mgr"> 
    <div class="card">
        <div class="card-header">
            <div class="card-title">Comments Manager Tool - Powered by <a href="http://knockoutjs.com/index.html">KnockoutJs</a></div>
        </div>

        <div class="comments-mgr-wrapper">
            <div id="sources-card" class="card">
                <table id="sources-table" class="table">
                    <thead class="header">
                        <tr>
                            <th>Source Name</th>
                            <th id="head-description">Description</th>
                            <th class="tools">
                                <a class="btn" data-toggle="modal" data-target="#modal-action-template" data-target-controller="Comments" data-target-action="GetModalContent" data-target-id="Source">
                                    <i class="fa fa-plus-square-o"></i>
                                </a>
                                <a class="btn disabled" disabled data-toggle="modal" data-type="Source" data-action="edit">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a id="source-delete" class="btn" >
                                    <i class="fa fa-trash"></i>
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    @*sources inline  binding template*@
                    <tbody class="tbody" id="sources" data-bind="template: { name: 'sources-template', foreach: sources, afterAdd: sourceAdded }"></tbody>
                </table>
                <div id="sources-count" class="caption text-right" data-bind="text: sourcesCount"></div>
            </div>

            @*comments inline binding template*@
            <div id="comments-card" class="card">
                <div class="card-header">
                    <div class="card-title">Comments for Source &rArr; <span class="caption" data-bind="text: source().sourceName"></span></div>
                    <a class="btn btn-default" data-toggle="modal" data-target="#modal-action-template" data-target-controller="Comments" data-target-action="GetModalContent" data-target-id="Comment">
                        <i class="fa fa-plus-square-o"></i>
                    </a>
                </div>
                <div id="comments-wrapper">
                    <div id="comments" class="list-group" data-bind=" template: { name: 'comments-template', foreach: comments}"></div>
                </div>
                <div id="comments-count" class="text-right" data-bind="text: commentsCount"></div>
            </div>

        </div>
    </div> 
</div>

<script>

    require(['dws/comments'],
        function (Comments) {

            $(document).ready(function () {
                Comments.GetSources();
            });
        });

</script>

