<div class="paper-wrapper">
    <span class="text-info text-muted float-right">July-2017</span>
    <div class="paper">
        <h5> HTML5/CSS/Javascript Frameworks </h5>
        <p>
            Rundown on the multitude of "Frameworks" and why we don't need them ALL!!! Coming Soon...
        </p>
    </div>
</div>
