<div class="paper-wrapper">
    <span class="text-info text-muted float-right">July-2017</span>
    <div class="paper">
        <h5> What The LINQ??? </h5>
        <p>
            Rundown on using LINQ to Objects and .NET ServiceController. And "What the LINQ" is the difference between LINQs??? Coming soon...
        </p>
        <a href="https://github.com/SwartHack/A-Tool"><i class="fa fa-5x fa-github" aria-hidden="true"></i>Check out the code now! </a>
    </div>
</div>
